$icomoon-font-family: 'icons' !default;
$icomoon-font-path: './../fonts' !default;

$icon-checkmark: '\e9a7';
$icon-accommodate: '\e90f';
$icon-add: '\e910';
$icon-adjust: '\e911';
$icon-alarm: '\e912';
$icon-alert: '\e913';
$icon-anchor: '\e914';
$icon-arrest: '\e915';
$icon-ascend: '\e916';
$icon-ask: '\e900';
$icon-attract: '\e917';
$icon-bake: '\e918';
$icon-barbecue: '\e919';
$icon-believe: '\e91a';
$icon-bite: '\e91b';
$icon-blaze: '\e91c';
$icon-bloom: '\e91d';
$icon-blow: '\e91e';
$icon-bookmark: '\e91f';
$icon-broadcast: '\e920';
$icon-build: '\e921';
$icon-caffeinate: '\e922';
$icon-calculate: '\e923';
$icon-call: '\e924';
$icon-camp: '\e925';
$icon-capture: '\e926';
$icon-celebrate: '\e927';
$icon-charge: '\e928';
$icon-chop: '\e929';
$icon-clamber: '\e92a';
$icon-climb: '\e92b';
$icon-close: '\e92c';
$icon-code: '\e92d';
$icon-collect: '\e92e';
$icon-condemn: '\e92f';
$icon-connect: '\e901';
$icon-cook: '\e930';
$icon-copy: '\e902';
$icon-create: '\e931';
$icon-crop: '\e932';
$icon-cry: '\e933';
$icon-cut: '\e934';
$icon-dazzle: '\e903';
$icon-decorate: '\e935';
$icon-defend: '\e936';
$icon-develop: '\e937';
$icon-die: '\e938';
$icon-dig: '\e939';
$icon-divide: '\e93a';
$icon-download: '\e93b';
$icon-dream: '\e93c';
$icon-drill: '\e93d';
$icon-drink: '\e93e';
$icon-drive: '\e93f';
$icon-drown: '\e940';
$icon-eat: '\e941';
$icon-enlarge: '\e942';
$icon-enter: '\e943';
$icon-equal: '\e944';
$icon-explode: '\e945';
$icon-explore: '\e946';
$icon-fight: '\e947';
$icon-film: '\e948';
$icon-find: '\e949';
$icon-finish: '\e94a';
$icon-fit: '\e94b';
$icon-flag: '\e94c';
$icon-forbid: '\e904';
$icon-forward: '\e905';
$icon-gamble: '\e94d';
$icon-game: '\e94e';
$icon-give: '\e94f';
$icon-go: '\e906';
$icon-groom: '\e950';
$icon-grow: '\e951';
$icon-hack: '\e952';
$icon-hammer: '\e953';
$icon-hang: '\e954';
$icon-harvest: '\e955';
$icon-home: '\e956';
$icon-hurt: '\e957';
$icon-impregnate: '\e958';
$icon-join: '\e959';
$icon-keep: '\e95a';
$icon-kill: '\e95b';
$icon-kiss: '\e95c';
$icon-label: '\e95d';
$icon-launch: '\e95e';
$icon-lift: '\e95f';
$icon-link: '\e907';
$icon-listen: '\e960';
$icon-load: '\e908';
$icon-locate: '\e961';
$icon-lock: '\e962';
$icon-love: '\e909';
$icon-marry: '\e963';
$icon-merge: '\e964';
$icon-narrow: '\e965';
$icon-navigate: '\e90a';
$icon-open: '\e966';
$icon-pause: '\e967';
$icon-pay: '\e968';
$icon-perform: '\e969';
$icon-photograph: '\e96a';
$icon-pin: '\e90b';
$icon-ping: '\e96b';
$icon-plug: '\e96c';
$icon-point: '\e96d';
$icon-power: '\e96e';
$icon-prank: '\e96f';
$icon-press: '\e970';
$icon-primp: '\e971';
$icon-print: '\e972';
$icon-produce: '\e973';
$icon-protect: '\e974';
$icon-push: '\e975';
$icon-race: '\e976';
$icon-rain: '\e977';
$icon-record: '\e978';
$icon-redo: '\e979';
$icon-reflect: '\e97a';
$icon-reply: '\e90c';
$icon-report: '\e97b';
$icon-resize: '\e97c';
$icon-rewind: '\e90d';
$icon-rule: '\e97d';
$icon-save: '\e97e';
$icon-saw: '\e97f';
$icon-scare: '\e980';
$icon-schedule: '\e981';
$icon-search: '\e982';
$icon-send: '\e983';
$icon-shine: '\e984';
$icon-sit: '\e985';
$icon-sleep: '\e986';
$icon-smell: '\e987';
$icon-smoke: '\e988';
$icon-solve: '\e90e';
$icon-sound: '\e989';
$icon-spin: '\e98a';
$icon-spook: '\e98b';
$icon-stack: '\e98c';
$icon-stamp: '\e98d';
$icon-steam: '\e98e';
$icon-stop: '\e98f';
$icon-store: '\e990';
$icon-strike: '\e991';
$icon-subtract: '\e992';
$icon-swim: '\e993';
$icon-tag: '\e994';
$icon-target: '\e995';
$icon-time: '\e996';
$icon-tower: '\e997';
$icon-travel: '\e998';
$icon-type: '\e999';
$icon-undo: '\e99a';
$icon-unlock: '\e99b';
$icon-upload: '\e99c';
$icon-urbanize: '\e99d';
$icon-use: '\e99e';
$icon-wait: '\e99f';
$icon-watch: '\e9a0';
$icon-wear: '\e9a1';
$icon-weld: '\e9a2';
$icon-win: '\e9a3';
$icon-wonder: '\e9a4';
$icon-write: '\e9a5';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sece22');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sece22#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sece22')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sece22')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?sece22##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@mixin icon-font() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  &:before {
    @include icon-font();
  }

  &.is-verified:before {
    color: $Colour-verified;
  }

  &.is-spinner {
    animation: rotate 2s linear infinite;
  }
}

.iconSVG,
.iconSVG svg {
  height: 24px;

  display: inline-block;
  // height: $FS-c1;
  width: auto;
}

.icon--display {
  &:before {
    font-size: 52px;
    color: $Colour-pri;
    text-shadow: 3px 3px 0px #444;

    @include media('>=tab') {
      font-size: 68px;
    }
  }
}

.icon--displayS {
  &:before {
    font-size: 36px;
    text-shadow: 2px 2px 0px rgba($Colour-accent, 0.7);

    @include media('>=tab') {
      font-size: 42px;
    }
  }
}

.icon--inline:before {
  display: inline-block;
  vertical-align: -2px; // was 0 for other font
  margin-right: 8px;
  font-size: 120%;
}

.icon--inlineSlim:before {
  display: inline-block;
  vertical-align: -2px; // was 0 for other font
  margin-right: 4px;
  font-size: 120%;
}

.icon-accommodate {
  &:before {
    content: $icon-accommodate;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-adjust {
  &:before {
    content: $icon-adjust;
  }
}
.icon-alarm {
  &:before {
    content: $icon-alarm;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-anchor {
  &:before {
    content: $icon-anchor;
  }
}
.icon-arrest {
  &:before {
    content: $icon-arrest;
  }
}
.icon-ascend {
  &:before {
    content: $icon-ascend;
  }
}
.icon-ask {
  &:before {
    content: $icon-ask;
  }
}
.icon-attract {
  &:before {
    content: $icon-attract;
  }
}
.icon-bake {
  &:before {
    content: $icon-bake;
  }
}
.icon-barbecue {
  &:before {
    content: $icon-barbecue;
  }
}
.icon-believe {
  &:before {
    content: $icon-believe;
  }
}
.icon-bite {
  &:before {
    content: $icon-bite;
  }
}
.icon-blaze {
  &:before {
    content: $icon-blaze;
  }
}
.icon-bloom {
  &:before {
    content: $icon-bloom;
  }
}
.icon-blow {
  &:before {
    content: $icon-blow;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-broadcast {
  &:before {
    content: $icon-broadcast;
  }
}
.icon-build {
  &:before {
    content: $icon-build;
  }
}
.icon-caffeinate {
  &:before {
    content: $icon-caffeinate;
  }
}
.icon-calculate {
  &:before {
    content: $icon-calculate;
  }
}
.icon-call {
  &:before {
    content: $icon-call;
  }
}
.icon-camp {
  &:before {
    content: $icon-camp;
  }
}
.icon-capture {
  &:before {
    content: $icon-capture;
  }
}
.icon-celebrate {
  &:before {
    content: $icon-celebrate;
  }
}
.icon-charge {
  &:before {
    content: $icon-charge;
  }
}
.icon-chop {
  &:before {
    content: $icon-chop;
  }
}
.icon-clamber {
  &:before {
    content: $icon-clamber;
  }
}
.icon-climb {
  &:before {
    content: $icon-climb;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-collect {
  &:before {
    content: $icon-collect;
  }
}
.icon-condemn {
  &:before {
    content: $icon-condemn;
  }
}
.icon-connect {
  &:before {
    content: $icon-connect;
  }
}
.icon-cook {
  &:before {
    content: $icon-cook;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-create {
  &:before {
    content: $icon-create;
  }
}
.icon-crop {
  &:before {
    content: $icon-crop;
  }
}
.icon-cry {
  &:before {
    content: $icon-cry;
  }
}
.icon-cut {
  &:before {
    content: $icon-cut;
  }
}
.icon-dazzle {
  &:before {
    content: $icon-dazzle;
  }
}
.icon-decorate {
  &:before {
    content: $icon-decorate;
  }
}
.icon-defend {
  &:before {
    content: $icon-defend;
  }
}
.icon-develop {
  &:before {
    content: $icon-develop;
  }
}
.icon-die {
  &:before {
    content: $icon-die;
  }
}
.icon-dig {
  &:before {
    content: $icon-dig;
  }
}
.icon-divide {
  &:before {
    content: $icon-divide;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-dream {
  &:before {
    content: $icon-dream;
  }
}
.icon-drill {
  &:before {
    content: $icon-drill;
  }
}
.icon-drink {
  &:before {
    content: $icon-drink;
  }
}
.icon-drive {
  &:before {
    content: $icon-drive;
  }
}
.icon-drown {
  &:before {
    content: $icon-drown;
  }
}
.icon-eat {
  &:before {
    content: $icon-eat;
  }
}
.icon-enlarge {
  &:before {
    content: $icon-enlarge;
  }
}
.icon-enter {
  &:before {
    content: $icon-enter;
  }
}
.icon-equal {
  &:before {
    content: $icon-equal;
  }
}
.icon-explode {
  &:before {
    content: $icon-explode;
  }
}
.icon-explore {
  &:before {
    content: $icon-explore;
  }
}
.icon-fight {
  &:before {
    content: $icon-fight;
  }
}
.icon-film {
  &:before {
    content: $icon-film;
  }
}
.icon-find {
  &:before {
    content: $icon-find;
  }
}
.icon-finish {
  &:before {
    content: $icon-finish;
  }
}
.icon-fit {
  &:before {
    content: $icon-fit;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}
.icon-forbid {
  &:before {
    content: $icon-forbid;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward;
  }
}
.icon-gamble {
  &:before {
    content: $icon-gamble;
  }
}
.icon-game {
  &:before {
    content: $icon-game;
  }
}
.icon-give {
  &:before {
    content: $icon-give;
  }
}
.icon-go {
  &:before {
    content: $icon-go;
  }
}
.icon-groom {
  &:before {
    content: $icon-groom;
  }
}
.icon-grow {
  &:before {
    content: $icon-grow;
  }
}
.icon-hack {
  &:before {
    content: $icon-hack;
  }
}
.icon-hammer {
  &:before {
    content: $icon-hammer;
  }
}
.icon-hang {
  &:before {
    content: $icon-hang;
  }
}
.icon-harvest {
  &:before {
    content: $icon-harvest;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-hurt {
  &:before {
    content: $icon-hurt;
  }
}
.icon-impregnate {
  &:before {
    content: $icon-impregnate;
  }
}
.icon-join {
  &:before {
    content: $icon-join;
  }
}
.icon-keep {
  &:before {
    content: $icon-keep;
  }
}
.icon-kill {
  &:before {
    content: $icon-kill;
  }
}
.icon-kiss {
  &:before {
    content: $icon-kiss;
  }
}
.icon-label {
  &:before {
    content: $icon-label;
  }
}
.icon-launch {
  &:before {
    content: $icon-launch;
  }
}
.icon-lift {
  &:before {
    content: $icon-lift;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-listen {
  &:before {
    content: $icon-listen;
  }
}
.icon-load {
  &:before {
    content: $icon-load;
  }
}
.icon-locate {
  &:before {
    content: $icon-locate;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-love {
  &:before {
    content: $icon-love;
  }
}
.icon-marry {
  &:before {
    content: $icon-marry;
  }
}
.icon-merge {
  &:before {
    content: $icon-merge;
  }
}
.icon-narrow {
  &:before {
    content: $icon-narrow;
  }
}
.icon-navigate {
  &:before {
    content: $icon-navigate;
  }
}
.icon-open {
  &:before {
    content: $icon-open;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-pay {
  &:before {
    content: $icon-pay;
  }
}
.icon-perform {
  &:before {
    content: $icon-perform;
  }
}
.icon-photograph {
  &:before {
    content: $icon-photograph;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-ping {
  &:before {
    content: $icon-ping;
  }
}
.icon-plug {
  &:before {
    content: $icon-plug;
  }
}
.icon-point {
  &:before {
    content: $icon-point;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-prank {
  &:before {
    content: $icon-prank;
  }
}
.icon-press {
  &:before {
    content: $icon-press;
  }
}
.icon-primp {
  &:before {
    content: $icon-primp;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-produce {
  &:before {
    content: $icon-produce;
  }
}
.icon-protect {
  &:before {
    content: $icon-protect;
  }
}
.icon-push {
  &:before {
    content: $icon-push;
  }
}
.icon-race {
  &:before {
    content: $icon-race;
  }
}
.icon-rain {
  &:before {
    content: $icon-rain;
  }
}
.icon-record {
  &:before {
    content: $icon-record;
  }
}
.icon-redo {
  &:before {
    content: $icon-redo;
  }
}
.icon-reflect {
  &:before {
    content: $icon-reflect;
  }
}
.icon-reply {
  &:before {
    content: $icon-reply;
  }
}
.icon-report {
  &:before {
    content: $icon-report;
  }
}
.icon-resize {
  &:before {
    content: $icon-resize;
  }
}
.icon-rewind {
  &:before {
    content: $icon-rewind;
  }
}
.icon-rule {
  &:before {
    content: $icon-rule;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-saw {
  &:before {
    content: $icon-saw;
  }
}
.icon-scare {
  &:before {
    content: $icon-scare;
  }
}
.icon-schedule {
  &:before {
    content: $icon-schedule;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-send {
  &:before {
    content: $icon-send;
  }
}
.icon-shine {
  &:before {
    content: $icon-shine;
  }
}
.icon-sit {
  &:before {
    content: $icon-sit;
  }
}
.icon-sleep {
  &:before {
    content: $icon-sleep;
  }
}
.icon-smell {
  &:before {
    content: $icon-smell;
  }
}
.icon-smoke {
  &:before {
    content: $icon-smoke;
  }
}
.icon-solve {
  &:before {
    content: $icon-solve;
  }
}
.icon-sound {
  &:before {
    content: $icon-sound;
  }
}
.icon-spin {
  &:before {
    content: $icon-spin;
  }
}
.icon-spook {
  &:before {
    content: $icon-spook;
  }
}
.icon-stack {
  &:before {
    content: $icon-stack;
  }
}
.icon-stamp {
  &:before {
    content: $icon-stamp;
  }
}
.icon-steam {
  &:before {
    content: $icon-steam;
  }
}
.icon-stop {
  &:before {
    content: $icon-stop;
  }
}
.icon-store {
  &:before {
    content: $icon-store;
  }
}
.icon-strike {
  &:before {
    content: $icon-strike;
  }
}
.icon-subtract {
  &:before {
    content: $icon-subtract;
  }
}
.icon-swim {
  &:before {
    content: $icon-swim;
  }
}
.icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.icon-target {
  &:before {
    content: $icon-target;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-tower {
  &:before {
    content: $icon-tower;
  }
}
.icon-travel {
  &:before {
    content: $icon-travel;
  }
}
.icon-type {
  &:before {
    content: $icon-type;
  }
}
.icon-undo {
  &:before {
    content: $icon-undo;
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-urbanize {
  &:before {
    content: $icon-urbanize;
  }
}
.icon-use {
  &:before {
    content: $icon-use;
  }
}
.icon-wait {
  &:before {
    content: $icon-wait;
  }
}
.icon-watch {
  &:before {
    content: $icon-watch;
  }
}
.icon-wear {
  &:before {
    content: $icon-wear;
  }
}
.icon-weld {
  &:before {
    content: $icon-weld;
  }
}
.icon-win {
  &:before {
    content: $icon-win;
  }
}
.icon-wonder {
  &:before {
    content: $icon-wonder;
  }
}
.icon-write {
  &:before {
    content: $icon-write;
  }
}

.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
