@mixin imageSq() {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  background-color: $Colour-base;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: auto;
    max-height: 97%;
    max-width: 97%;
  }
}

.image {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

.imageSelected {
  border: 3px solid $Colour-accent;
}

.imageTicket {
  display: block;
  width: auto;
  max-width: 12rem;
  height: auto;
  // animation: ticket-twist 10s linear infinite;
  margin-top: -$BSU;
  transform: rotate3d(0, 0, 1, -10deg) perspective(200px);
}

.imageCan {
  display: block;
  width: auto;
  max-width: 6rem;
  height: auto;
  // animation: ticket-twist 10s linear infinite;
  margin-top: -$BSU;
  transform: rotate3d(0, 0, 1, -10deg) perspective(200px);
}

.imageAvatar {
  width: 38px;
  height: 38px;

  background-color: $Colour-base;

  @include media('>=tab') {
    width: 44px;
    height: 44px;
  }
}

.imageCat-s {
  width: 44px;
  height: 44px;

  background-color: $Colour-base;
}

.imageCatSq {
  position: relative;
  width: 54px;
  height: 54px;

  background-color: $Colour-base;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: auto;
    max-height: 97%;
    max-width: 97%;
  }
}

.imageCat-2 {
  width: 84px;
  height: 84px;

  background-color: $Colour-base;
}

.imageSq {
  @include imageSq();
}

.imageProcessing {
  width: 75px;
  // height: 72px * 2;
  padding-bottom: 75px * 2;

  background: url('~/assets/images/loading-can.png') center no-repeat;
  background-size: 100% auto;
  animation: can-loading 3s linear infinite;
}

.imageRender {
  .Media-image {
    margin-right: 24px; 

    @include media('<tab') {
      width: 100%;
      text-align: center;
      align-items: center;
      margin-right: 0;
    }

    img {
      width: 256px;

      @include media('<tab') {
        width: 100%;
      }
    }
  }

  .Media-body {
    @include media('<tab') {
      padding-top: 24px;
      width: 100%;
    }
  }

  .button {
    margin: 12px 0;
  }
}

.vmVideo {
  margin: 24px auto;
}
