// --------------------------------------------------------------------------
// LIST BASE
// --------------------------------------------------------------------------
//
// Base list styling utilities.
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.listBalls {
  > * + * {
    &:before {
      content: '•';
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}

.listItem {
  .listBalls & {
    white-space: nowrap;
  }
}

.listDataInline {
  display: flex;
  align-items: center;

  .item {
    + .item {
      margin-left: $Column-gutter;

      @include media('>=tab') {
        margin-left: $Column-gutter * 1.5;
      }
    }
  }

  .item--s {
    + .item--s {
      margin-left: $Column-gutter * 0.75;

      @include media('>=tab') {
        margin-left: $Column-gutter;
      }
    }
  }
}