.pill {
  @include type($FontSize-c4);
  position: relative;
  padding: 2px 4px;
  background-color: $Colour-ter;
  box-shadow: -2px -2px 0 0 $Colour-base, 2px 2px 0 0 $Colour-base;

  @include media('>=tab', '<lap') {
    @include type($FontSize-c4 - 1px);
  }

  + .pill {
    margin-left: 7px;
  }
}

.pill--notice {
  @include type($FontSize-c2);
  padding: 6px 12px;
  display: inline-block;

  background-color: $Colour-pri;
  border-color: transparent;
  box-shadow: none;
}