// --------------------------------------------------------------------------
// SIZING BASE
// --------------------------------------------------------------------------
//
// Size styling which can be used in conjunction with other objects such as the grid, media element or images.
// Sizes are responsive and based on ratios for clearer naming and understanding.

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$widths-columns: (1, 2, 3, 4, 5, 6, 12);

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin widths($widths-columns, $widths-breakpoint: null) {
  // Loop through the number of columns for each denominator of our fractions.
  @each $widths-denominator in $widths-columns {
    // If we’re trying to make wholes, just spit a 100% width utility out
    // one time only.
    @if ($widths-denominator == 1) {
      .s-1\/1#{$widths-breakpoint} {
        width: 100% !important;
      }
    } @else {
      // Begin creating a numberator for our fraction up until we hit the
      // denominator.
      @for $widths-numerator from 1 to $widths-denominator {
        // Build a class in the format `.u-3/4` or `.u-3-of-4`.
        .s-#{$widths-numerator}\/#{$widths-denominator}#{$widths-breakpoint} {
          width: ($widths-numerator / $widths-denominator) * 100% !important;
        }
      }
    }
  }
}

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@include widths($widths-columns);

@each $breakpoint in $breakpoints {
  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media('>=' + $alias) {
    // Loop through each of our column sizes and generate its responsive width
    // classes.
    @each $widths-column in $widths-columns {
      @include widths($widths-column, --#{$alias});
    }
  }
}

.mw-4 {
  max-width: 4rem;
}