// --------------------------------------------------------------------------
// SPACING BASE
// --------------------------------------------------------------------------
//
// Spacing to be used to add spacers between content
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.mt\- {
  margin-top: halve($Base-spacing-unit);
}

.mt {
  margin-top: $Base-spacing-unit;
}

.mt-2,
.mt\+ {
  margin-top: double($Base-spacing-unit);
}

.mt-3 {
  margin-top: triple($Base-spacing-unit);
}

.mt-4,
.mt\+\+ {
  margin-top: ($Base-spacing-unit * 4);
}

.mt-6 {
  margin-top: $Base-spacing-unit * 6;
}

.mb {
  margin-bottom: $Base-spacing-unit;
}

.mb\- {
  margin-bottom: halve($Base-spacing-unit);
}

.mb-2,
.mb\+ {
  margin-bottom: double($Base-spacing-unit);
}

.mb-3 {
  margin-bottom: triple($BSU);
}

.mb-4,
.mb\+\+ {
  margin-bottom: ($Base-spacing-unit * 4);
}

.mr {
  margin-right: ($BSU);
}

.mr\+ {
  margin-right: double($BSU);
}

.ml {
  margin-left: $BSU;
}

.ml\+ {
  margin-left: double($BSU);
}

.ml-3 {
  margin-left: $BSU * 3;
}
