// --------------------------------------------------------------------------
// UTILS BASE
// --------------------------------------------------------------------------
//
// Utility classes that help with tiny comon cases
//

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.middle {
  margin-left: auto;
  margin-right: auto;
}

.justify-ends {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.rel {
  position: relative;
}

.block {
  display: block;
}

.inBlock {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.hide-mob {
  @include media('<tab') {
    display: none !important;
  }
}

.show-tabDown {
  @include media('>=tab') {
    display: none !important;
  }
}

.hide-tabDown {
  @include media('<tab') {
    display: none !important;
  }
}

.gr-2 {
  flex-grow: 2;
}

.scrollOverflow-1 {
  max-height: 60vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $Colour-pri--washDarken;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba($Colour-pri, 1);
    border: 1px solid $Colour-pri--wash;
  }
}
