<template lang="html">
  <div class="Card Card--can mt++">
    <div class="Card-body">
      <div class="Card-heading">Countdown to Mint</div>
      <div class="copy-xs mt-">Countdown For Block: #{{ blockNumber }}</div>

      <div v-if="!loading" class="mt+ listDataInline">
        <div class="item item--s">
          <span class="icon icon-time icon--displayS"></span>
        </div>

        <div class="item">
          <div class="copy-xl">{{ remainingHours }}</div>
          <div class="copy-xs">Hours</div>
        </div>

        <div class="item">
          <div class="copy-xl">{{ remainingMinutes }}</div>
          <div class="copy-xs">Minutes</div>
        </div>

        <div class="item">
          <div class="copy-xl">{{ remainingSeconds }}</div>
          <div class="copy-xs">Seconds</div>
        </div>
      </div>

      <div class="copy-xxs mt+">Estimated Target Date:</div>
      <div class="copy-xxs mt-">{{ targetDate }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blockNumber: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      loading: true,
      ticker: null,
      seconds: 0,
      target: ''
    }
  },

  computed: {
    targetDate() {
      return this.target.toString()
    },
    remainingHours() {
      return ~~(this.seconds / 3600)
    },
    remainingMinutes() {
      return ~~((this.seconds % 3600) / 60)
    },
    remainingSeconds() {
      return ~~this.seconds % 60
    },
  },

  created() {
    this.getSeconds()
    this.refresh()
    this.ticker = setInterval(this.tick, 1000)
  },

  beforeDestroy() {
    if (this.ticker !== null) clearInterval(this.ticker)
  },

  methods: {
    getSeconds() {
      if (this.blockNumber > 0) {
        let apiUrl = `https://api.etherscan.io/api?module=block&apikey=GIR7V7W8UQ9282UYNEAKKFGMYGSXHDPUCQ&action=getblockcountdown&blockno=${this.blockNumber}`

        fetch(apiUrl)
          .then((response) => {
            return response.json()
          })
          .then((data) => {
            if (typeof data.result.EstimateTimeInSec !== 'undefined') {
              this.seconds = Math.ceil(data.result.EstimateTimeInSec)
              let now = new Date()
              this.target = new Date(now.getTime() + (this.seconds * 1000))
            }
            this.loading = false
          })
      }
    },
    tick() {
      if (this.seconds > 0) this.seconds--

      if (this.seconds <= 0) {
        this.$emit('tada')
        if (this.ticker !== null) clearInterval(this.ticker)
      }
    },
    refresh() {
      setTimeout(() => {
        this.getSeconds()
        if (this.seconds > 0) this.refresh()
      }, 60000) // Check once a minute
    },
  },
}
</script>
