.Accordion {
}

.Accordion-item {
  color: $Colour-base;
  background-color: $Colour-white;
  border: 3px solid $Colour-border;
  box-shadow: 6px 6px 0 $Colour-dropShadow;

  + .Accordion-item {
    margin-top: double($BSU);
  }
}

.Accordion-title {
  @include type($FontSize-c2);
  position: relative;
  padding: triple($BSU) ($Column-gutter + 26px) triple($BSU) $Column-gutter;
  cursor: pointer;

  &:after {
    @include icon-font();
    content: $icon-add;

    font-size: 22px;
    position: absolute;
    top: 14px;
    right: $Column-gutter;
    transition: transform 0.3s;

    color: $Colour-accent;

    .Accordion-item.is-active & {
      transform: rotate(45deg);
      transition: transform 0.3s;
    }
  }
}

.Accordion-content {
  padding: 0 $Column-gutter triple($BSU);
}
