.Drop {
  position: relative;
}

.Drop-button {
  @include button-s();
  display: flex;
  align-items: center;
  line-height: 13px;
  color: $Colour-base;

  &:before {
    @include icon-font();
    display: inline-block;
    font-size: 14px;
    order: 2;
    content: $icon-forward;
    transform: translateX(6px) rotate(90deg);
  }

  @include media('>=tab', '<820px') {
    @include type($FontSize-c4 - 1px);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.Drop-label {
  @include media('<tab') {
    display: none;
  }
}

.Drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9997;
  min-width: 84px;
  padding: halve($BSU);
  // padding-bottom: halve($BSU);
  margin-top: 6px;

  display: none;

  background-color: $Colour-white;
  border: 3px solid $Colour-base;
  box-shadow: 6px 6px 0 $Colour-dropShadow;

  .Drop.is-active & {
    display: block;
  }

  .Drop--alt & {
    left: auto;
    right: 0;
  }
}

.Drop-menuItem {
  @include reset-button();
  @include type($FontSize-c5);
  font-family: $FontFamily-copy;
  display: block;
  width: 100%;
  padding: ($BSU * 1.5) double($BSU);
  text-align: left;
  text-transform: none;

  text-decoration: none;
  color: $Colour-base;
  white-space: nowrap;
  transition: color 0.2s;

  &:hover {
    color: $Colour-accent;
    transition: color 0.2s;
  }

  &.is-selected {
    color: $Colour-accent;
    background-color: rgba($Colour-accent, 0.14);
  }
}
