.Fitter {
  + .Fitter {
    margin-top: $Column-gutter;
  }
}

.Fitter-head {
  display: flex;
  align-items: center;
  padding-bottom: $BSU;
}

.Fitter-col1 {
  width: 15%;
  max-width: 4.5rem;

  @include media('>=tab') {
    width: 20%;
  }
}

.Fitter-col2 {
  flex-grow: 2;
  padding-right: ($BSU);
}

.Fitter-item {
  display: flex;
  align-items: center;
  padding-top: double($BSU);

  border-top: 2px solid rgba($Colour-border, 0.8);

  + .Fitter-item {
    margin-top: double($BSU);
  }
}

.Fitter-item--purchase {
  padding-bottom: double($BSU);
  background-color: rgba($Colour-bg, 0.14);

  + .Fitter-item {
    margin-top: 0;
  }

  .Card-title {
    @include type($FontSize-c4, 1.5);
  }
}

.Fitter-itemHead {
  display: flex;
  justify-content: space-between;

  > * + * {
    @include media('>=tab') {
      text-align: right;
    }
  }

  .Fitter-item--purchase & {
    align-items: center;
  }
}

.Fitter-layerNav {
}

.Fitter-layerNavUp,
.Fitter-layerNavDown {
  @include reset-button();
  display: block;
  margin-left: $BSU;
  margin-right: $BSU;

  color: $Colour-base;

  &:before {
    @include icon-font();
    @include type(24px);
    display: block;

    transform: rotate(90deg);
  }

  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include media('>=tab') {
    margin-left: $BSU * 1;
    margin-right: $BSU * 1.5;
  }
}

.Fitter-layerNavUp {
  &:before {
    content: $icon-rewind;
  }
}

.Fitter-layerNavDown {
  &:before {
    content: $icon-forward;
  }
}
