.Form {
}

.Form-field {
  + .Form-field {
    margin-top: ($Column-gutter * 1.5);
  }
}

.Form-label {
  display: block;
  @include type($FontSize-c2, 1.25);
  text-transform: uppercase;

  + .Form-input,
  + .Form-inputMulti,
  + .Form-inputLayers,
  + .Form-inputWrap,
  + .Form-inputDrop {
    margin-top: $BSU * 1.5;
  }

  .has-error & {
    color: $Colour-error;
  }
}

.Form-labelSub {
  @include type($FontSize-c3, 1.4);
  // margin-top: halve($BSU);

  + .Form-input,
  + .Form-inputMulti,
  + .Form-inputLayers,
  + .Form-inputWrap,
  + .Form-inputDrop {
    margin-top: $BSU * 1.5;
  }
}

.Form-labelError {
  margin-top: 3px;

  + .Form-input,
  + .Form-inputMulti,
  + .Form-inputLayers,
  + .Form-inputWrap,
  + .Form-inputDrop {
    margin-top: $BSU * 1.5;
  }
}

.Form-input {
  width: 100%;
  @include input();
  // @include type($FontSize-c1);

  .has-error & {
    border-color: $Colour-error;
    box-shadow: 5px 5px 0 rgba($Colour-error, 0.5);
  }

  .Form-inputWrap & {
    padding-right: 48px;
  }
}

.Form-inputDrop {
  position: relative;

  &:after {
    @include icon-font();
    content: $icon-forward;
    font-size: 16px;

    position: absolute;
    top: 50%;
    right: double($BSU);
    transform: translateY(-50%) rotate(90deg);
  }

  > .Form-input {
    cursor: pointer;
    padding-right: 30px;
  }
}

.Form-inputSwatch {
  position: absolute;
  top: $BSU;
  left: $BSU;
  bottom: $BSU;
  width: 32px;
  z-index: 9;
  pointer-events: none;

  + .Form-input {
    padding-left: 32px + double($BSU);
  }
}

.Form-inputWrap {
  position: relative;
}

.Form-inputLabel {
  @include type($FontSize-c3, 1.25);
  position: absolute;
  top: 15px;
  right: double($BSU);
}

.Form-inputMulti {
  width: 100%;
  @include input();
  @include input-multiline();
  // @include type($FontSize-c1);
}

.Form-input--simple {
  box-shadow: none;
}

.Form-inputLayers {
  position: relative;
}

.Form-inputWrap {
}

.Form-inputAction {
  position: absolute;
  top: 6px;
  right: 6px;

  padding: 4px;

  background-color: $Colour-accent;

  &.is-spinner {
    .icon {
      animation: rotate 2s linear infinite;
    }
  }

  .icon {
    display: inline-block;
    height: 17px;
    width: auto;
    fill: $Colour-white;
  }

  &:before {
    @include icon-font();
  }

  &:after {
    content: unset;
  }

  &:focus {
    transform: none;
  }
}

.Form-submit {
  @include button();
  @include button-primary();
}
