.Hero {
  width: 100%;
  text-align: center;

  background-color: rgba($Colour-bg, 0.9);
}

.Hero--alt {
  text-align: left;
}

.HeroGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    &:hover {
      color: $Colour-accent;
    }
  }
}

.Hero-inner {
  position: relative;
  max-width: $Grid-maxWidth;
  margin-left: auto;
  margin-right: auto;
  padding: double($Column-gutter) $Column-gutter;

  @include media('>=tab') {
    padding-top: ($Column-gutter * 2.5);
    padding-bottom: ($Column-gutter * 2.5);
  }

  @include media('>=lap') {
    padding-top: triple($Column-gutter);
    padding-bottom: triple($Column-gutter);
  }
}

.Hero-body {
  @include media('>=lap') {
    width: 60%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  .Hero-back + & {
    @include media('<tab') {
      margin-top: $Column-gutter;
    }
  }
}

.Hero-heading {
  @include type(40px, 1.1);
  font-family: $FontFamily-heading;
  font-weight: normal;
  color: $Colour-sec;
  text-shadow: 3px 3px 0px #444;

  @include media('>=tab') {
    @include type(48px, 1);
  }

  @include media('>=lap') {
    @include type(54px, 1.2);
  }

  .Hero--alt & {
    @include type(40px, 1);

    @include media('<lap') {
      margin-top: $BSU;
    }

    @include media('>=tab') {
      @include type(48px, 1);
    }

    @include media('>=lap') {
      @include type(54px, 1.2);
    }
  }
}

.hero-heading-small {
  @include type(25px, 1.1);
  font-family: $FontFamily-heading;
  font-weight: normal;
  color: $Colour-sec;
  text-shadow: 3px 3px 0px #444;
  padding-bottom: 0.5em;
}

.Hero-subHeading {
  margin-top: 4px;
  text-shadow: 3px 3px 0px #444;

  @include media('<tab') {
    @include type($FontSize-h2 - 3px);
  }

  &:before,
  &:after {
    @include type(10px);
    content: '•';
    vertical-align: 3px;
  }

  &:before {
    margin-right: ($BSU * 2);

    @include media('>=tab') {
      margin-right: ($BSU * 2.5);
    }
  }

  &:after {
    margin-left: ($BSU * 2);

    @include media('>=tab') {
      margin-left: ($BSU * 2.5);
    }
  }

  > .imageAvatar {
    margin-right: 9px;
  }
}

.Hero-lede {
  margin-top: double($BSU);

  @include media('>=lap') {
    @include type($FontSize-c1);
    margin-top: ($BSU);
  }
}

.Hero-copy {
  @include type($FontSize-c3);
  margin-top: $BSU * 1.5;
}

.Hero-back {
  position: absolute;
  top: double($BSU);
  left: $Column-gutter;

  @include media('>=tab') {
    top: double($Column-gutter);
  }

  @include media('>=lap') {
    top: triple($Column-gutter);
  }

  &:before {
    @include icon-font();
  }
}

.Hero-actions {
  position: absolute;
  top: $Column-gutter;
  right: $Column-gutter;

  @include media('>=tab') {
    top: double($Column-gutter);
  }

  @include media('>=lap') {
    top: triple($Column-gutter);
  }
}
