.Level {
  display: flex;
  position: relative;

  > div {
    display: flex;
    width: 7px;
    height: 8px;

    background-color: $Colour-accent;

    + div {
      margin-left: 2px;
    }
  }

  &.Level--1 {
    > div:nth-of-type(2n),
    > div:nth-of-type(3n) {
      background-color: rgba($Colour-accent, 0.3);
    }
  }

  &.Level--2 {
    > div:nth-of-type(3n) {
      background-color: rgba($Colour-accent, 0.3);
    }
  }

  &.Level--0 {
    > div {
      background-color: rgba($Colour-accent, 0.3);
    }
  }
}
