.Navbar {
  position: relative;
  z-index: 9998;
  background-color: $Colour-pri;
}

.Navbar-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $Grid-maxWidth;
  margin-left: auto;
  margin-right: auto;
  padding: double($BSU) $Column-gutter;
}

.Navbar-innerLeft {
  @include media('<tab') {
    flex-grow: 2;
  }
}

.Navbar-brand {
  @include type($FontSize-c2);
  font-family: $FontFamily-copy;
  color: $Colour-white;
  // padding-left: 39px + 8px;
  width: 140px;
  line-height: 32px;
  text-indent: -9999px;

  background: url('~/assets/images/brand/mooncatpop-logo.png') no-repeat left
    center;
  background-size: 100% auto;

  &:hover {
    color: $Colour-white;
  }

  @include media('>=tab') {
    width: 156px;
    margin-top: 4px;
    line-height: 35px;
  }
}

.Navbar-search {
  position: relative;
  width: 100%;
  // max-width: 20rem;
  width: 100%;

  .Form-input {
    @include type($FontSize-c3);
  }

  // @include media('<tab') {
  //   margin-left: halve($BSU);

  //   // .Form-input {
  //   //   display: none;
  //   // }
  // }

  @include media('>=tab') {
    // max-width: 20rem;
    width: 50%;
  }

  // @include media('>=tab', '<lap') {
  //   margin-left: $Column-gutter;
  // }

  @include media('>=lap') {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 25%;
    // transform: translate(-50%, -50%);
    width: 33.3333%;
  }
}

.Navbar-searchInput {
  position: relative;

  // @include media('<tab') {
  //   display: none;

  //   .Navbar-search.has-mobLayer & {
  //     display: block;
  //   }
  // }
}

.Navbar-searchClose {
  // @include button-s();
  @include reset-button();
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;

  @include media('>=tab') {
    display: none;
  }
}

.Navbar-searchDrop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: $BSU * 1.5;
  max-height: 70vh;
  overflow-y: scroll;

  border: 3px solid $Colour-border;
  color: $Colour-base;
  background-color: $Colour-white;
  box-shadow: 8px 8px 0 $Colour-dropShadow;

  &.is-active {
    display: block;
  }
}

.Navbar-searchResults {
  font-family: $FontFamily-mono;
  list-style: none;
  padding-left: 0;
  padding-top: $BSU;
  padding-bottom: $BSU;
}

.Navbar-searchResult {
  @include type($FontSize-c3);
  display: block;
  padding: ($BSU) double($BSU);

  color: $Colour-base;
}

.Form-searchButton {
  @include button-s();

  &:before {
    @include icon-font();
    content: $icon-search;
    display: inline-block;
    vertical-align: 0;
    font-size: 140%;

    color: $Colour-accent;
  }

  @include media('>=tab') {
    display: none;
  }
}

.Navbar-nav {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: $BSU;
  }

  .Navbar-navItem--icon + .Drop {
    margin-left: 0;
  }
}

.Navbar-navItem {
  @include button();
  @include button-ghost();
  @include input-small();

  height: auto;
  color: $Colour-white;
  transition: background-color 0.2s;

  @include media('<tab') {
    @include type($FontSize-c4);
  }

  @include media('>=tab') {
    padding-left: $BSU * 2;
    padding-right: $BSU * 2;
  }

  &:hover,
  &:focus {
    color: $Colour-white;
    background-color: rgba($Colour-white, 0.08);
    transition: background-color 0.2s;
  }

  &.nuxt-link-exact-active {
    background-color: rgba($Colour-white, 0.1);
  }
}

.Navbar-navItem--menu,
.Navbar-navItem--icon {
  text-indent: -9999px;
  // margin-right: double($BSU);
  padding-left: 18px;
  padding-right: 18px;

  &:hover:after,
  &:focus:after {
    box-shadow: unset;
  }

  &:after {
    @include icon-font();
    @include type($FontSize-c1, 34px);
    // content: $icon-stack;
    text-indent: 0;
    box-shadow: unset;
  }
}

.Navbar-navItem--icon {
  &.icon-collect {
    &:after {
      content: $icon-collect;
    }
  }
}

.Navbar-navItem--menu {
  &:after {
    content: $icon-stack;
  }

  &:focus {
    background-color: transparent;
  }

  .Drop.is-active & {
    background-color: rgba($Colour-white, 0.08);
  }
}

.Navbar-navButton {
  @include button();
  @include button-primary();
  @include button-s();
}

//
// Cat
//

.Navbar-cat {
  display: flex;
  align-items: center;
  height: 39px;
  cursor: pointer;
  margin-left: ($BSU);
  margin-right: ($BSU);

  border: 3px solid $Colour-border;
  background-color: $Colour-white;
  color: $Colour-accent;
  box-shadow: 5px 5px 0 $Colour-dropShadow;
}

.Navbar-catImg {
  width: 35px;

  > div {
    @include imageSq();
  }
}

.Navbar-catLabel {
  text-align: center;
  line-height: 36px;
}

.Navbar-catInfo {
  @include type($FontSize-c5 - 1px);
  font-family: $FontFamily-copy;
  // margin-left: $BSU;
  padding: $BSU ($BSU * 2);

  @include media('>=tab') {
    @include type($FontSize-c5);
    padding-left: ($BSU * 2.5);
    padding-right: ($BSU * 2.5);
  }
}

//
// Basket
//

.Navbar-basket {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.Navbar-basketTrigger {
  @include reset-button();
  position: relative;

  padding: $BSU 0;

  > svg {
    height: 26px;
    display: inline-block;
    width: auto;
  }
}

.Navbar-basketTriggerCount {
  position: absolute;
  top: -1px;
  right: -8px;
  font-size: 8px;
  line-height: 14px;
  text-align: center;
  width: 14px;
  height: 14px;

  color: $Colour-base;
  z-index: 9;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    z-index: -1;

    width: 14px;
    height: 14px;
    background-color: $Colour-sec;
  }
}

.Navbar-basketDrop {
  @include type($FontSize-c5);
  position: absolute;
  top: 100%;
  right: 0;
  text-align: left;
  padding: 18px 15px;
  min-width: 320px;

  display: none;

  background-color: $Colour-white;
  color: $Colour-base;
  border: 2px solid $Colour-pri;
  box-shadow: 3px 3px 0 rgba($Colour-pri, 0.6);

  &.is-active {
    display: block;
  }
}

.Navbar-basketTitle {
  @include type($FontSize-c3);
  padding-bottom: 10px;
  border-bottom: 5px solid rgba($Colour-base, 0.14);
}

.Navbar-basketItem {
  @include type($FontSize-c4);
  font-family: $FontFamily-copy;
  text-transform: none;
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 3px solid rgba($Colour-base, 0.14);

  + .button--pri {
    margin-top: 15px;
  }

  .info {
    display: flex;
    justify-content: space-between;

    > div {
      white-space: pre-wrap;
    }
  }
}

.Navbar-basketItemLine {
  flex-grow: 1;
  margin: 0 8px 3px;
  border-bottom: 2px dotted $Colour-base;
}
