.Notice {
  display: flex;
  justify-content: center;
}

.Notice-body {
  padding: ($BSU * 1.5) $Column-gutter;
  background-color: $Colour-white;
  color: $Colour-base;
  box-shadow: -3px -3px 0 #4a235a, 3px 3px 0 #4a235a;

  > .icon {
    display: inline-block;
    vertical-align: -2px; // was 0 for other font
    margin-right: 2px;
    font-size: 130%;
    color: #4a235a;
  }
}
