// --------------------------------------------------------------------------
// PAGE COMPONENT
// --------------------------------------------------------------------------
//
// Page

/**
 * DEPENDENCIES
 * - none
 */

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Page {
  min-height: 100vh;
  padding-bottom: 18px;
}

.Page-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
}

.Page-bgLayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 200vh;
  z-index: -100;
  backround-repeat: repeat;
}

.Page-bgLayer--1 {
  background-image: url('~/assets/images/bg/bgstars1.png');
}

.Page-bgLayer--2 {
  background-image: url('~/assets/images/bg/bgstars2.png');
}

.Page-notice {
  @include type($FontSize-c2);
  padding: $BSU;
  text-align: center;

  background-color: $Colour-sec;
  color: $Colour-base;

  @include media('>=tab') {
    padding-top: double($BSU);
    padding-bottom: double($BSU);
  }

  @include media('>=tab') {
    padding-top: ($BSU * 2.5);
    padding-bottom: ($BSU * 2.5);
  }

  > div {
    max-width: $Grid-maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $Column-gutter - $BSU;
    padding-right: $Column-gutter - $BSU;
  }

  a {
    &:hover {
      color: $Colour-accent--darken;
    }
  }

  .Hero + & {
    margin-top: 2px;
  }
}

.Page-notice--alt {
  background-color: rgba(#1e0e2e, 0.9);
  color: $Colour-baseType--contrast;
}

.Page-bar {
  position: relative;
  z-index: 9;
  font-family: $FontFamily-copy;
  background-color: rgba(#1e0e2e, 0.9);
}

.Page-barBody {
  max-width: $Grid-maxWidth;
  margin-left: auto;
  margin-right: auto;
  padding: triple($BSU) $Column-gutter;
  margin-top: 2px;

  &.pullRight {
    justify-content: flex-end;
  }

  @include media('>=tab') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: ($BSU * 4);
    padding-right: ($BSU * 4);
    padding-top: double($BSU);
    padding-bottom: double($BSU);
  }

  @include media('>=lap') {
    padding-left: double($Column-gutter);
    padding-right: double($Column-gutter);
  }

  &.pullRight {
    justify-content: flex-end;
  }
}

.Page-barActions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * + * {
    margin-left: ($BSU * 1.5);
  }

  @include media('<tab') {
    margin-top: $BSU * 1.5;
  }
}

.Page-section {
  padding-top: 15px;
  padding-bottom: 15px;

  @include media('>=tab') {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include media('>=lap') {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  + .Page-section {
    padding-top: 0;

    @include media('>=tab') {
      padding-top: 0;
    }

    @include media('>=lap') {
      padding-top: 0;
    }
  }
}

.Page-copyright {
  position: fixed;
  display: inline-block;
  left: 0;
  bottom: 0;
  text-align: center;
  font-family: $FontFamily-copy;
  font-size: 0.9em;
  background-color: $Colour-base;
  border-right: 3px solid grey;
  border-top: 3px solid grey;
  padding: 3px 8px;
  z-index: 99;

  > a {
    color: #e22bb0;

    &.alt-colour {
      color: $Colour-accent;
    }
  }

  .ponderware-logo {
    display: inline-block;
    height: 20px;
    margin-left: 4px;
    margin-right: 8px;
    vertical-align: -4px;
  }
}

//
// Head
//
.Page-head {
  position: relative;

  .button--back {
    @include media('<tab') {
      margin-bottom: $BSU;
    }

    @include media('>=tab') {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

//
// Carousel
//
.Page-carousel {
  display: flex;

  @include media('<tab') {
    flex-direction: column;
  }

  @include media('>=tab') {
    // display: flex;
    align-items: flex-start;
  }
}

.Page-carouselOpts {
  @include media('<tab') {
    display: flex;
    align-items: center;
    order: 2;
    margin-top: double($BSU);
  }
}

.Page-carouselOpt {
  position: relative;
  max-width: 6.5rem;
  margin-right: double($BSU);
  cursor: pointer;

  @include media('>=tab') {
    margin-bottom: double($BSU);
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 0;

    background-color: transparent;
  }

  &:before {
    top: -4px;
    left: -4px;
    right: 0;
    bottom: 0;
  }

  &:after {
    top: 0;
    left: 0;
    right: -4px;
    bottom: -4px;
  }

  .image {
    position: relative;
    z-index: 9;
    width: 100%;
  }

  &.is-active {
    &:before,
    &:after {
      background-color: $Colour-pri;
    }
  }
}

.Page-carouselDivider {
  position: relative;
  width: 36px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $BSU;
  transform: translateX(-(($BSU)));

  border-top: 18px solid $Colour-pri;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;

  z-index: 99;

  @include media('<tab') {
    transform: rotate(-90deg);
    margin-left: -6px;
    margin-right: -2px;
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -15.5px;
    left: -11.5px;

    border-top: 12px solid rgba($Colour-white, 0.9);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  }
}

.Page-carouselMain {
  width: 100%;

  &.Card-imageSplash .image {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.Page-carouselDownload {
  
}

.copy-description {
  white-space: pre-line;
  
  a:hover {
    color: $Colour-accent;
    text-decoration: underline;
  }
}
