//
// Palettes
//
.Palettes {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  // float: left;

  background-color: $Colour-pri;
  border: 2px solid $Colour-base;
}

.Palettes-opts {
  display: flex;
  align-items: center;
  min-width: 6 * 22px;
  background-color: $Colour-white;
}

.Palettes-label {
  padding-left: $BSU;
  padding-right: $BSU * 1.5;

  color: $Colour-white;
}

.Palettes-item {
  @include type(8px);
  font-family: $FontFamily-copy;
  position: relative;
  width: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  background-color: $Colour-white;

  transition: all 0.2s;

  &.is-active {
    color: $Colour-white;
    background-color: $Colour-accent;
  }

  &:hover {
    color: $Colour-accent;
    background-color: rgba($Colour-accent, 0.14);
    transition: all 0.2s;
  }
}

//
// Palette Editor
//

.PaletteEditor {
  display: flex;
  position: relative;
}

.PE-image {
  flex-grow: 2;
}

.PE-imageWrap {
  @include imageSq();
}

.PE-colours {
  min-width: 76px;
  margin-left: halve($Column-gutter);

  @include media('>=tab') {
    width: 7rem;
    margin-left: $Column-gutter;
  }

  > * + * {
    margin-top: ($BSU * 1.5);
  }
}

.PE-colour {
  display: block;
  width: 100%;
  padding: double($BSU);

  color: $Colour-white;
}

.PE-colourLevel {
  @include type($FontSize-c6);
  padding: 3px 5px;
  background-color: rgba($Colour-base, 0.8);

  @include media('>=tab') {
    @include type($FontSize-c5);
    padding: 4px 7px;
  }

  .is-active & {
    background-color: $Colour-white;
    color: $Colour-base;
  }
}

.PE-preview {
  position: relative;
  padding-bottom: 14%;
  margin-top: $BSU * 1.5;

  background-color: red;

  &.has-gradientTop--dark {
    background-image: linear-gradient(
      rgba($Colour-black, 0.8),
      rgba($Colour-black, 0)
    );
  }

  &.has-gradientTop--light {
    background-image: linear-gradient(
      rgba($Colour-white, 0.8),
      rgba($Colour-white, 0)
    );
  }

  &.has-gradientBottom--dark {
    background-image: linear-gradient(
      rgba($Colour-black, 0),
      rgba($Colour-black, 0.8)
    );
  }

  &.has-gradientBottom--light {
    background-image: linear-gradient(
      rgba($Colour-white, 0),
      rgba($Colour-white, 0.8)
    );
  }

  &.has-texture {
  }
}

.PE-previewPattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

//
// Palette Card
//

.PaletteCard {
  display: flex;
  box-shadow: 4px 4px 0 $Colour-border;
}

.PC-imgWrap {
  position: relative;
  width: 96px;
  height: 96px;

  background-color: $Colour-base;

  @include media('>=tab') {
    width: 84px;
    height: 84px;
  }
}

.PC-img {
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
  max-height: 98%;
}

.PC-colour {
  flex-grow: 1;
}

//
// Palette Picker Overlay
//

.PE-picker {
  position: absolute;
  top: 0;
  padding: ($BSU * 1.5);
  z-index: 99;

  background-color: $Colour-base;
  color: $Colour-baseType--contrast;
  border: 4px solid transparent;

  @include media('<tab') {
    left: -($Column-gutter + $BSU);
    right: -($Column-gutter + $BSU);
  }

  @include media('>=tab') {
    padding: double($BSU);
    top: -0.5rem;
    right: 102%;
  }
}

.PE-pickerClose {
  text-align: right;
  margin-bottom: ($BSU);

  @include media('>=tab') {
    display: none;
  }
}

.PE-pickerDivider {
  margin-top: 3px;
  margin-bottom: 3px;
  border-color: rgba($Colour-white, 0.7);
}

.PE-pickerLabel {
  text-align: right;
  margin-right: $BSU;
  flex-grow: 2;
  text-transform: uppercase;
  white-space: nowrap;

  @include media('<tab') {
    @include type($FontSize-c4);
  }
}

.PE-pickerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;

  @include media('>=tab') {
    padding-left: $BSU;
    padding-right: $BSU;
  }
}

.PE-pickerCell {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAFUlEQVQYlWNgwA3+I2EaKRoeVsAAAFflGubteE7wAAAAAElFTkSuQmCC);
  background-repeat: repeat;
  background-color: white;

  &:hover,
  &:focus {
    z-index: 9;
  }

  &.is-active {
    z-index: 8;
  }
}

.PE-pickerColour {
  height: 20px;
  width: 20px;
  cursor: pointer;

  border: 1px solid transparent;
  transition: border-color 0.2s, transform 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    border-color: rgba($Colour-white, 0.9);
    transition: border-color 0.2s, transform 0.2s;
  }

  @include media('>=425px') {
    height: 23px;
    width: 23px;
  }

  @include media('>=470px') {
    height: 26px;
    width: 26px;
  }

  .PE-pickerCell.is-active & {
    z-index: 8;
    border-color: rgba($Colour-black, 0.5);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
  }

  .PE-pickerRowX2 & {
    width: double(20px);

    @include media('>=425px') {
      width: double(23px);
    }

    @include media('>=470px') {
      width: double(26px);
    }
  }
}

.PE-pickerGroup {
  // flex-grow: 2;
  width: 77%;
}

.PE-pickerGroupBtn {
  flex-grow: 1;
  padding: halve($BSU);
  text-align: center;

  border: 2px solid $Colour-white;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba($Colour-accent, 0.25);
    transition: background-color 0.2s;
  }

  + .PE-pickerGroupBtn {
    margin-left: -2px;
  }

  &.is-active {
    background-color: $Colour-accent;
  }
}
