<template lang="html">
  <div :class="['Builder-acc', {'is-disabled': !accessory.verified}]">
    <div class="">
      <input
        type="checkbox"
        name=""
        value=""
        :checked="!accessory.verified ? false : selected"
        @click="toggleActive"
      />
    </div>

    <div class="Fitter-layerNav">
      <button
        type="button"
        :class="['Fitter-layerNavUp', { 'is-disabled': order === count }]"
        @click.stop="moveUp()"
      ></button>
      <button
        type="button"
        :class="['Fitter-layerNavDown', { 'is-disabled': order === 1 }]"
        @click.stop="moveDown()"
      ></button>
    </div>

    <div class="">
      <div class="copy-s mb-">{{ accessory.name }}</div>
      <mcp-palettes
        v-if="accessory.image.palettes.length > 1"
        :id="accessory.id"
        :opts="accessory.image.palettes.length"
        :selected="accessory.image.paletteIndex + 1"
        @state-update="updatePaletteIndex"
      />
    </div>
  </div>
</template>

<script>
import Palettes from '~/components/elements/palettes'

export default {
  components: {
    'mcp-palettes': Palettes,
  },

  props: {
    accessory: {
      type: Object,
      default: () => {},
    },
    selected: {
      type: Boolean,
      default: false,
    },
    order: {
      type: Number,
      default: null,
    },
    count: {
      type: Number,
      default: null,
    },
  },

  mounted() {

  },

  methods: {
    updatePaletteIndex(payload) {
      this.$emit('palette-update', {
        id: this.accessory.id,
        paletteIndex: payload.selected,
      })
    },
    toggleActive() {
      if(!this.accessory.verified) return 

      this.$emit('selected-update', {
        id: this.accessory.id,
        selected: !this.selected,
      })
    },
    moveUp() {
      if (this.order === this.count) return

      this.$emit('move-update', {
        id: this.accessory.id,
        position: this.order + 1.5,
        background: this.accessory.background
      })
    },
    moveDown() {
      if (this.order === 1) return

      this.$emit('move-update', {
        id: this.accessory.id,
        position: this.order - 1.5,
        background: this.accessory.background
      })
    },
  },
}
</script>
