<template lang="html">
  <div class="scrollOverflow-1">
    <div v-if="foregroundAccessories.length" class="Builder-asideAcc">
      <div class="Form-label center mb-">Foreground Accessories</div>

      <!-- All selector -->
      <div class="Builder-acc">
        <input
          type="checkbox"
          name="all-fg"
          id="all-fg"
          value=""
          @click="checkAll"
        />
        <label for="all-fg" class="Form-label ml">All</label>
      </div>
      <!--- .end All selector -->

      <!-- Accessory -->
      <acc-item
        v-for="(accessory, order) in foregroundAccessories"
        :key="accessory.id"
        :accessory="accessory"
        :selected="accessory.active"
        :order="foregroundAccessories.length - order"
        :count="foregroundAccessories.length"
        @palette-update="updatePaletteIndex"
        @selected-update="updateSelected"
        @move-update="updateMove"
      />
      <!-- .end Accessory -->
    </div>

    <div v-if="backgroundAccessories.length" class="Builder-asideAcc">
      <div class="Form-label center mb-">Background Accessories</div>

      <!-- All selector -->
      <div class="Builder-acc">
        <input
          type="checkbox"
          name="all-bg"
          id="all-bg"
          value=""
          @click="checkAll"
        />
        <label for="all-bg" class="Form-label ml">All</label>
      </div>
      <!--- .end All selector -->

      <!-- Accessory -->
      <acc-item
        v-for="(accessory, order) in backgroundAccessories"
        :key="accessory.id"
        :accessory="accessory"
        :selected="accessory.active"
        :order="backgroundAccessories.length - order"
        :count="backgroundAccessories.length"
        @palette-update="updatePaletteIndex"
        @selected-update="updateSelected"
        @move-update="updateMove"
      />
      <!-- .end Accessory -->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import libmooncatMixin from '~/mixins/libmooncat'

import Item from '~/components/elements/acc-item'

export default {
  components: {
    'acc-item': Item,
  },

  props: {
    accessories: {
      type: Array,
      default: () => [],
    },
  },

  mixins: [libmooncatMixin],

  data() {
    return {
      accessoriesObjects: {},
    }
  },

  computed: {
    ...mapGetters({
      getAccessory: 'accessories/getAccessory',
    }),
    foregroundAccessories() {
      return Object.values(this.accessoriesObjects)
        .filter((accessory) => accessory.background === false)
        .sort((a, b) => b.image.zIndex - a.image.zIndex)
    },
    backgroundAccessories() {
      return Object.values(this.accessoriesObjects)
        .filter((accessory) => accessory.background === true)
        .sort((a, b) => b.image.zIndex - a.image.zIndex)
    },
  },

  watch: {
    accessories(newVal, oldVal) {
      // if (JSON.stringify(newVal) !== JSON.stringify(oldVal))
      this.loadAccessoryObjects()
    },
  },

  created() {
    this.loadAccessoryObjects()
  },

  methods: {
    updatePaletteIndex(payload) {
      if (typeof this.accessoriesObjects[payload.id] !== 'undefined')
        this.accessoriesObjects[payload.id].image.paletteIndex =
          payload.paletteIndex

      this.broadcastChange()
    },
    updateSelected(payload) {
      if (typeof this.accessoriesObjects[payload.id] !== 'undefined') {
        this.accessoriesObjects[payload.id].active = payload.selected

        if (
          payload.selected === true &&
          this.accessoriesObjects[payload.id].image.zIndex === 0
        )
          this.accessoriesObjects[payload.id].image.zIndex = 1

        this.broadcastChange()
      }
    },
    updateMove(payload) {
      let count = Object.values(this.accessoriesObjects).filter(
        (accessory) => accessory.background === payload.background
      ).length

      Object.values(this.accessoriesObjects)
        .filter((accessory) => accessory.background === payload.background)
        .sort((a, b) => b.image.zIndex - a.image.zIndex)
        .forEach((accessory, i) => {
          accessory.image.zIndex =
            accessory.id === payload.id
              ? payload.position * 10
              : (count - i) * 10
        })

      this.broadcastChange()
    },
    checkAll(e) {
      let background = e.target.getAttribute('id') === 'all-bg'

      Object.values(this.accessoriesObjects)
        .filter((accessory) => accessory.background === background)
        .forEach((accessory) => {
          accessory.active = e.target.checked
        })

      this.broadcastChange()
    },
    broadcastChange() {
      this.$emit(
        'accessory-update',
        Object.values(this.accessoriesObjects)
          .filter((accessory) => accessory.active === true)
          .map((accessory) => [
            accessory.id,
            accessory.image.paletteIndex,
            accessory.image.zIndex,
          ])
      )
    },
    async loadAccessoryObjects() {
      if (this.accessories.length) {
        let objects = {}
        for (let i in this.accessories) {
          let ownership = this.accessories[i]
          let accessory = await this.getAccessory(ownership.accessoryId)

          if (typeof accessory === 'object' && !accessory.getFromCache())
            this.$store.dispatch('accessories/addAccessory', accessory)

          objects[ownership.accessoryId] = {
            id: accessory.getId(),
            image: accessory.getImageArray(
              ownership.paletteIndex,
              ownership.zIndex
            ),
            name: accessory.getName(),
            background: accessory.getBackground(),
            verified: accessory.isVerified(),
            active: ownership.zIndex !== 0,
          }
        }
        this.accessoriesObjects = {
          ...objects,
        }
        this.broadcastChange()
      }
    },
  },
}
</script>
