<template>
  <div :class="['Accordion-item', { 'is-active': isActive }]">
    <div class="Accordion-title" @click="isActive = !isActive">
      {{ heading }}
    </div>

    <div v-show="isActive" class="Accordion-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    heading: {
      required: true,
    },
    selected: {
      default: false,
    },
  },

  data() {
    return {
      isActive: false,
    }
  },

  computed: {},

  mounted() {
    this.isActive = this.selected
  },
}
</script>
