<template lang="html">
  <div>
    <div v-show="hasItems" class="Navbar-navItem Navbar-basket">
      <button
        type="button"
        class="Navbar-basketTrigger"
        @click.stop="toggleBasket"
      >
        <icon-can />
        <div class="Navbar-basketTriggerCount">{{ totalItems }}</div>
      </button>

      <div
        :class="['Navbar-basketDrop', { 'is-active': basketState }]"
        v-click-outside="hideBasket"
      >
        <div class="Navbar-basketTitle">Basket</div>

        <div
          v-for="item in orderedItems"
          :key="item.id"
          class="Navbar-basketItem"
        >
          <div class="info">
            <div>{{ item.flavor }}</div>
            <div class="Navbar-basketItemLine"></div>
            <div class="">{{ item.total }}</div>
          </div>

          <div class="justify-ends mt">
            <a href="#" class="copy-xxs" @click.stop="remove(item.id)"
              >Remove</a
            >

            <div class="">
              <a href="#" class="" @click.stop="minus(item.id)">-</a>
              <a href="#" class="" @click.stop="plus(item.id)">+</a>
            </div>
          </div>
        </div>

        <button type="button" class="button--pri" @click.stop="mint">
          Buy Now
        </button>
      </div>
    </div>
    <mcp-transaction
      :active="transaction.processing"
      :error="transaction.error"
      :success="transaction.success"
      @completed="completeTransaction"
      @reset="resetTransaction"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import transactionMixin from '~/mixins/transaction'
import ClickOutside from 'vue-click-outside'

import IconCan from '~/components/icons/can'
import Transaction from '~/components/elements/transaction'

import mcbDeepSpace from '~/lib/deepspace'

const dsn = new mcbDeepSpace()

export default {
  directives: {
    ClickOutside,
  },

  mixins: [transactionMixin],

  components: {
    'icon-can': IconCan,
    'mcp-transaction': Transaction,
  },

  data() {
    return {
      basketState: false,
    }
  },

  computed: {
    ...mapGetters({
      hasItems: 'basket/hasItems',
      getItems: 'basket/getItems',
      cats: 'identity/cats',
    }),
    ownsCats() {
      return this.cats.length > 0
    },
    orderedItems() {
      return this.getItems.sort((a, b) => a.order - b.order)
    },
    totalItems() {
      let count = 0
      for (let i = 0; i < this.getItems.length; i++) {
        count += this.getItems[i].total
      }
      return count
    },
  },

  watch: {
    $route(b) {
      if (this.basketState) this.hideBasket()
    },
    totalItems(newVal) {
      if (newVal > 0) this.basketState = true
    },
  },

  methods: {
    toggleBasket() {
      this.basketState = !this.basketState
    },
    hideBasket() {
      this.basketState = false
    },
    remove(id) {
      this.$store.dispatch('basket/removeItem', { id })
    },
    plus(id) {
      this.$store.dispatch('basket/oneMoreItem', { id })
    },
    minus(id) {
      this.$store.dispatch('basket/oneLessItem', { id })
    },
    mint() {
      this.transaction.processing = true
      let vmArray = []

      for (let i = 0; i < this.getItems.length; i++) {
        for (let c = 0; c < this.getItems[i].total; c++) {
          vmArray.push(this.getItems[i].id)
        }
      }

      if (vmArray.length === 1)
        dsn
          .mintCan(
            this.$root.context.$identity.connection.getSigner(),
            vmArray.shift(),
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
      else {
        dsn
          .batchMintCans(
            this.$root.context.$identity.connection.getSigner(),
            vmArray,
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
      }
    },
  },
}
</script>
