<template lang="html">
  <div class="Modal" v-show="active">
    <div class="Modal-body" v-click-outside="closeModal">
      <button type="button" class="Modal-close" @click="closeModal">X</button>

      <div class="Modal-heading">
        {{ heading }}
      </div>

      <div class="typeCopy-4 center mt+" v-if="copy !== null">
        {{ copy }}
      </div>

      <slot></slot>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  directives: {
    ClickOutside,
  },

  props: {
    active: {
      type: Boolean,
      default: false,
    },

    heading: {
      type: String,
      default: null,
    },

    copy: {
      type: String,
      default: null,
    },
  },

  methods: {
    closeModal() {
      this.$emit('close-modal')
    },
  },
}
</script>
