<template lang="html">
  <div class="section-gray-rounded">
    <div>
      <div class="hero-heading-small">Mystery Flavor</div>
      <div v-if="!isConnected" class="mint-buttons">
        <button class="dark-button" @click.stop="connect">
          Connect your Wallet
        </button>
      </div>
      <div v-if="isConnected" class="mint-buttons">
        <button class="dark-button" @click.stop="random1">Mint 1</button>
        <button class="dark-button" @click.stop="random5">Mint 5</button>
        <button class="dark-button" @click.stop="random10">Mint 10</button>
      </div>
    </div>
    <div>
      <div class="hero-heading-small">Jump to Vending Machine</div>
      <div class="mint-buttons">
        <div class="vm-input">
          <input
            class="text-input"
            type="text"
            v-model="vmInput"
            minLength="1"
            maxLength="2"
            size="17"
            placeholder="Vending Machine #"
          />
        </div>
        <div class="button dark-button" @click.stop="jumpToVM">Go</div>
      </div>
    </div>
    <mcp-transaction
      :active="transaction.processing"
      :error="transaction.error"
      :success="transaction.success"
      @completed="completeTransaction"
      @reset="resetTransaction"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2'
import mcbDeepSpace from '~/lib/deepspace'

import transactionMixin from '~/mixins/transaction'
import Transaction from '~/components/elements/transaction'

const dsn = new mcbDeepSpace()

export default {
  mixins: [transactionMixin],

  data() {
    return {
      vmInput: '',
    }
  },

  components: {
    'mcp-transaction': Transaction,
  },

  props: {
    machines: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    ...mapGetters({
      cats: 'identity/cats',
      isConnected: 'identity/isConnected',
      offBy: 'identity/offBy',
      txOutcome: 'identity/txOutcome',
      txRecord: 'identity/txRecord',
    }),

    ownsCats() {
      return this.cats.length > 0
    },

    availableMachines() {
      return this.machines.filter((machine) => machine.supply > 0)
    },
  },

  methods: {
    connect() {
      this.$nuxt.context.$identity.connect()
    },

    disconnect() {
      this.$nuxt.context.$identity.disconnect().then(() => {
        this.$router.push('/')
      })
    },

    sort(sortedArray1, sortedArray2, sortedArray3) {
      console.log(this.availableMachines, 'available')
      // sets offBy value
      var soldOut = ''
      var soldOutArray = []
      for (var i = 0; i < this.machines.length; i++) {
        if (this.machines[i].supply == 0) {
          soldOutArray.push(this.machines[i].mint)
        }
      }
      soldOut = soldOutArray.length
      this.$store.dispatch('identity/offBy', soldOut)

      // Sorting into different arrays based on supply
      for (var i = 0; i < this.machines.length; i++) {
        if (this.machines[i].supply >= 80) {
          sortedArray1.push(this.machines[i])
        } else if (
          this.machines[i].supply >= 50 &&
          this.machines[i].supply < 80
        ) {
          sortedArray2.push(this.machines[i])
        } else {
          sortedArray3.push(this.machines[i])
        }
      }
      sortedArray1.sort((a, b) => (a.supply > b.supply ? -1 : 1))
      sortedArray2.sort((a, b) => (a.supply > b.supply ? -1 : 1))
      sortedArray3.sort((a, b) => (a.supply > b.supply ? -1 : 1))

      console.log(
        'sortedArray1:',
        sortedArray1,
        'sortedArray2:',
        sortedArray2,
        'sortedArray3:',
        sortedArray3
      )
    },

    async mint1(randNum, sortedArray) {
      var offBy = this.offBy
      console.log(sortedArray[randNum - offBy].mint)
      try {
        dsn
          .mintCan(
            this.$root.context.$identity.connection.getSigner(),
            sortedArray[randNum - offBy].mint,
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
          .then(() => {
            var txRecord = this.txRecord
            var txOutcome = this.txOutcome
            console.log('txRecord', txRecord)
            console.log('txOutcome', txOutcome)
            if (txOutcome === true) {
              console.log('txSuccess')
              Swal.fire({
                title: 'Delicious!',
                html:
                  '<div class="popup-heading">Successfully minted:</div><br> ' +
                  '<div class="popup-wrapper">' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${sortedArray[randNum - offBy].mint}/front_${
                    sortedArray[randNum - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  sortedArray[randNum - offBy].flavor +
                  ' (' +
                  sortedArray[randNum - offBy].mint +
                  ')' +
                  '</div>' +
                  '</div></div>' +
                  '<div><a href="https://etherscan.io/tx/' +
                  txRecord.hash +
                  '" target="_blank">View Transaction on Etherscan</a></div>',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup-1',
                  container: 'swal-container',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                  styled: 'swal-styled',
                },
              })
            } else {
              console.log('txFailed')
              Swal.fire({
                title: 'Error',
                html:
                  '<div class="popup-heading">' +
                  txRecord +
                  '</div>',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup-5',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                },
              })
            }
          })
      } catch (err) {
        console.log(err.message)
        Swal.fire({
          title: 'Error',
          html:
            '<div class="popup-heading">' +
            err.message +
            '</div>',
          showCancelButton: false,
          confirmButtonColor: '#15a8d4',
          cancelButtonColor: '#808080',
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          allowEnterKey: false,
          customClass: {
            popup: 'swal-popup-5',
            confirmButton: 'confirm-button',
            cancelButton: 'cancel-button',
          },
        })
      }
    },

    async mint5(vmArray, offBy) {
      var offBy = this.offBy
      try {
        dsn
          .batchMintCans(
            this.$root.context.$identity.connection.getSigner(),
            vmArray,
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
          .then(() => {
            var txRecord = this.txRecord
            var txOutcome = this.txOutcome
            if (txOutcome === true) {
              console.log('txSuccess')
              Swal.fire({
                title: 'Delicious!',
                html:
                  '<div class="popup-heading">Successfully minted:</div><br> ' +
                  '<div class="popup-wrapper">' +
                  //popup-cans div

                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[0] - offBy].mint
                  }/front_${
                    this.machines[vmArray[0] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[0] - offBy].flavor +
                  ' (' +
                  vmArray[0] +
                  ')' +
                  '</div>' +
                  '</div>' +
                  // end popup-cans div

                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[1] - offBy].mint
                  }/front_${
                    this.machines[vmArray[1] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[1] - offBy].flavor +
                  ' (' +
                  vmArray[1] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[2] - offBy].mint
                  }/front_${
                    this.machines[vmArray[2] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[2] - offBy].flavor +
                  ' (' +
                  vmArray[2] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[3] - offBy].mint
                  }/front_${
                    this.machines[vmArray[3] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[3] - offBy].flavor +
                  ' (' +
                  vmArray[3] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[4] - offBy].mint
                  }/front_${
                    this.machines[vmArray[4] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[4] - offBy].flavor +
                  ' (' +
                  vmArray[4] +
                  ')</div>' +
                  '</div><br>' +
                  '</div>' +
                  '<div><a href="https://etherscan.io/tx/' +
                  txRecord.hash +
                  '" target="_blank">View Transaction on Etherscan</a></div>',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup-5',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                },
              })
            } else {
              console.log('txFailed')
              Swal.fire({
                title: 'Error',
                html:
                  '<div class="popup-heading">' +
                  txRecord +
                  '</div>',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup-5',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                },
              })
            }
          })
      } catch (err) {
        console.log(err)
        Swal.fire({
          title: 'Error',
          html: '<div class="popup-heading">' + err + '</div>',
          showCancelButton: false,
          confirmButtonColor: '#15a8d4',
          cancelButtonColor: '#808080',
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          allowEnterKey: false,
          customClass: {
            popup: 'swal-popup-5',
            confirmButton: 'confirm-button',
            cancelButton: 'cancel-button',
          },
        })
      }
    },

    async mint10(vmArray, offBy) {
      var offBy = this.offBy
      try {
        dsn
          .batchMintCans(
            this.$root.context.$identity.connection.getSigner(),
            vmArray,
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
          .then(() => {
            var txRecord = this.txRecord
            var txOutcome = this.txOutcome
            if (txOutcome === true) {
              console.log('txSuccess')
              Swal.fire({
                title: 'Delicious!',
                html:
                  '<div class="popup-heading">Successfully minted:</div><br> ' +
                  '<div class="popup-wrapper">' +
                  // popup cans divs
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[0] - offBy].mint
                  }/front_${
                    this.machines[vmArray[0] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[0] - offBy].flavor +
                  ' (' +
                  vmArray[0] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[1] - offBy].mint
                  }/front_${
                    this.machines[vmArray[1] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[1] - offBy].flavor +
                  ' (' +
                  vmArray[1] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[2] - offBy].mint
                  }/front_${
                    this.machines[vmArray[2] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[2] - offBy].flavor +
                  ' (' +
                  vmArray[2] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[3] - offBy].mint
                  }/front_${
                    this.machines[vmArray[3] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[3] - offBy].flavor +
                  ' (' +
                  vmArray[3] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[4] - offBy].mint
                  }/front_${
                    this.machines[vmArray[4] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[4] - offBy].flavor +
                  ' (' +
                  vmArray[4] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[5] - offBy].mint
                  }/front_${
                    this.machines[vmArray[5] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[5] - offBy].flavor +
                  ' (' +
                  vmArray[5] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[6] - offBy].mint
                  }/front_${
                    this.machines[vmArray[6] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[6] - offBy].flavor +
                  ' (' +
                  vmArray[6] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[7] - offBy].mint
                  }/front_${
                    this.machines[vmArray[7] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[7] - offBy].flavor +
                  ' (' +
                  vmArray[7] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[8] - offBy].mint
                  }/front_${
                    this.machines[vmArray[8] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[8] - offBy].flavor +
                  ' (' +
                  vmArray[8] +
                  ')</div>' +
                  '</div>' +
                  '<div class="popup-cans">' +
                  `<img src="/pop/${
                    this.machines[vmArray[9] - offBy].mint
                  }/front_${
                    this.machines[vmArray[9] - offBy].mint
                  }.jpg" width="63" height="112"></img>` +
                  '<div class="popup-small-padding">' +
                  this.machines[vmArray[9] - offBy].flavor +
                  ' (' +
                  vmArray[9] +
                  ')</div>' +
                  '</div>' +
                  '</div>' +
                  '<div><a href="https://etherscan.io/tx/' +
                  txRecord.hash +
                  '" target="_blank">View Transaction on Etherscan</a></div>',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup-10',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                },
              })
            } else {
              console.log('txFailed')
              Swal.fire({
                title: 'Error',
                html:
                  '<div class="popup-heading">' +
                  txRecord +
                  '</div>',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup-5',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                },
              })
            }
          })
      } catch (err) {
        console.log(err)
        Swal.fire({
          title: 'Error',
          html:
            '<div class="popup-heading">' +
            err +
            '</div>',
          showCancelButton: false,
          confirmButtonColor: '#15a8d4',
          cancelButtonColor: '#808080',
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          allowEnterKey: false,
          customClass: {
            popup: 'swal-popup-5',
            confirmButton: 'confirm-button',
            cancelButton: 'cancel-button',
          },
        })
      }
    },

    random1() {
      console.log('Owns MoonCats?', this.ownsCats)
      console.log('Vending Machines:', this.machines)

      var randNum = ''
      var sortedArray1 = []
      var sortedArray2 = []
      var sortedArray3 = []

      //   weighting the random number based on machine supply to select sortedArray1 or 2
      var sortNum = Math.floor(Math.random() * this.machines.length)
      if (sortNum < this.machines.length - sortedArray1.length) {
        sortNum = 0
      } else {
        sortNum = 1
      }
      this.sort(sortedArray1, sortedArray2, sortedArray3)
      var offBy = this.offBy
      Swal.fire({
        title: 'Mint 1',
        text: 'This will mint 1 MoonCat Pop can from a random vending machine, are you sure you wish to continue?',
        showCancelButton: true,
        confirmButtonColor: '#15a8d4',
        cancelButtonColor: '#808080',
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        allowEnterKey: false,
        customClass: {
          popup: 'swal-popup',
          container: 'swal-container',
          confirmButton: 'confirm-button',
          cancelButton: 'cancel-button',
          styled: 'swal-styled',
        },
      }).then(async (result) => {
        if (result.isConfirmed) {
          var record = ''
          if (sortNum === 0 && sortedArray1.length > 0) {
            randNum = Math.floor(Math.random() * sortedArray1.length)
            //  mint here
            console.log(
              'Minting from vending machine ' +
                sortedArray1[randNum - offBy].mint
            )
            this.mint1(randNum, sortedArray1)
          } else if (sortNum === 1 && sortedArray2.length > 0) {
            randNum = Math.floor(Math.random() * sortedArray2.length)
            //  mint here
            console.log(
              'Minting from vending machine ' +
                sortedArray2[randNum - offBy].mint
            )
            this.mint1(randNum, sortedArray2)
          } else if (
            sortNum === 0 ||
            (sortNum === 1 &&
              sortedArray1.length === 0 &&
              sortedArray2.length === 0 &&
              sortedArray3.length > 0)
          ) {
            randNum = Math.floor(Math.random() * sortedArray3.length)
            //  mint here
            console.log(
              'Minting from vending machine ' +
                sortedArray3[randNum - offBy].mint
            )
            if (sortedArray3[randNum - offBy].supply > 0) {
              this.mint1(randNum, sortedArray3)
            } else {
              Swal.fire({
                title: 'Sold Out',
                text: 'Sorry, there are no more cans available to mint. Please check OpenSea.',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup',
                  container: 'swal-container',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                  styled: 'swal-styled',
                },
              })
            }
          }
        } else {
          console.log('Mint 1 canceled by user')
        }
      })
    },

    random5() {
      var vmArray = []
      var sortedArray1 = []
      var sortedArray2 = []
      var sortedArray3 = []

      // Build sorted arrays based on supply
      this.sort(sortedArray1, sortedArray2, sortedArray3)
      var offBy = this.offBy
      console.log(offBy)
      Swal.fire({
        title: 'Mint 5',
        text: 'This will mint 5 MoonCat Pop cans from randomly chosen vending machines are you sure you wish to continue?',
        showCancelButton: true,
        confirmButtonColor: '#15a8d4',
        cancelButtonColor: '#808080',
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        allowEnterKey: false,
        customClass: {
          popup: 'swal-popup',
          container: 'swal-container',
          confirmButton: 'confirm-button',
          cancelButton: 'cancel-button',
          styled: 'swal-styled',
        },
      }).then(async (result) => {
        if (result.isConfirmed) {
          for (var i = 0; i < 5; i++) {
            //   weighting the random number based on machine supply to select sortedArray1 or 2
            var sortNum = Math.floor(Math.random() * this.machines.length)
            var randNum = ''
            if (sortNum > this.machines.length - sortedArray1.length) {
              sortNum = 0
            } else {
              sortNum = 1
            }
            if (sortNum === 0 && sortedArray1.length > 0) {
              randNum = Math.floor(Math.random() * sortedArray1.length)
              //Push VM number to vmArray to be used later for minting
              vmArray.push(sortedArray1[randNum - offBy].mint)
            } else if (sortNum === 1 && sortedArray2.length > 0) {
              randNum = Math.floor(Math.random() * sortedArray2.length)
              vmArray.push(sortedArray2[randNum - offBy].mint)
            } else if (
              sortedArray1.length === 0 &&
              sortedArray2.length === 0 &&
              sortedArray3.length > 0
            ) {
              randNum = Math.floor(Math.random() * sortedArray3.length)
              if (sortedArray3[randNum - offBy].supply > 0) {
                vmArray.push(sortedArray3[randNum - offBy].mint)
              } else {
                console.log(
                  'vmArray contains ' + vmArray.length + ' cans to mint.'
                )
              }
            } else {
              Swal.fire({
                title: 'Sold Out',
                text:
                  'Sorry, there are only ' +
                  vmArray.length +
                  ' cans available to mint. Please mint cans individually using the Mint 1 button.',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup',
                  container: 'swal-container',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                  styled: 'swal-styled',
                },
              })
            }
          }

          console.log('Now minting from Vending Machines: ' + vmArray)
          this.mint5(vmArray, offBy)
        } else {
          console.log('Mint 5 canceled by user')
        }
      })
    },

    random10() {
      var offBy = this.offBy
      var vmArray = []
      var sortedArray1 = []
      var sortedArray2 = []
      var sortedArray3 = []

      // Build sorted arrays based on supply
      this.sort(sortedArray1, sortedArray2, sortedArray3)
      var offBy = this.offBy

      Swal.fire({
        title: 'Mint 10',
        text: 'This will mint 10 MoonCat Pop cans from randomly chosen vending machines are you sure you wish to continue?',
        showCancelButton: true,
        confirmButtonColor: '#15a8d4',
        cancelButtonColor: '#808080',
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        allowEnterKey: false,
        customClass: {
          popup: 'swal-popup',
          confirmButton: 'confirm-button',
          cancelButton: 'cancel-button',
        },
      }).then(async (result) => {
        if (result.isConfirmed) {
          for (var i = 0; i < 10; i++) {
            //   weighting the random number based on machine supply to select sortedArray1 or 2
            var sortNum = Math.floor(Math.random() * this.machines.length)
            var randNum = ''
            if (sortNum > this.machines.length - sortedArray1.length) {
              sortNum = 0
            } else {
              sortNum = 1
            }
            if (sortNum === 0 && sortedArray1.length > 0) {
              randNum = Math.floor(Math.random() * sortedArray1.length)
              //Push VM number to vmArray to be used later for minting
              vmArray.push(sortedArray1[randNum - offBy].mint)
            } else if (sortNum === 1 && sortedArray2.length > 0) {
              randNum = Math.floor(Math.random() * sortedArray2.length)
              //  mint here
              vmArray.push(sortedArray2[randNum - offBy].mint)
            } else if (
              sortedArray1.length === 0 &&
              sortedArray2.length === 0 &&
              sortedArray3.length > 0
            ) {
              randNum = Math.floor(Math.random() * sortedArray3.length)
              //  mint here
              if (sortedArray3[randNum - offBy].supply > 0) {
                vmArray.push(sortedArray3[randNum - offBy].mint)
              } else {
                console.log(
                  'vmArray contains ' + vmArray.length + ' cans to mint.'
                )
              }
            } else {
              Swal.fire({
                title: 'Sold Out',
                text:
                  'Sorry, there are only ' +
                  vmArray.length +
                  ' cans available to mint. Please mint cans individually using the Mint 1 button.',
                showCancelButton: false,
                confirmButtonColor: '#15a8d4',
                cancelButtonColor: '#808080',
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                allowEnterKey: false,
                customClass: {
                  popup: 'swal-popup',
                  container: 'swal-container',
                  confirmButton: 'confirm-button',
                  cancelButton: 'cancel-button',
                  styled: 'swal-styled',
                },
              })
            }
          }
          console.log('Now minting from Vending Machines: ', vmArray)
          this.mint10(vmArray, offBy)
        } else {
          console.log('Mint 10 canceled by user')
        }
      })
    },

    jumpToVM() {
      this.$router.push('/vm/' + this.vmInput)
    },
  },
}
</script>
