// FORM ELEMENTS
//
// Styling for form elements to give a consistant base design across all form elements.
//
// DEPENDENCIES </br>
// - base/type
//
// EXTENDS </br>
// - none
//
// VARIABLES </br>
// - $input-padding: ($Base-spacing-unit / 2) ($Base-spacing-unit * 1.5); </br>
// - $input-height: $Base-spacing-unit * 4; </br>
// - $c-input-outline: none;
// - 
// - $input-border: 1px solid $Colour-border; </br>
// - $c-input-borderColour--focus: $Colour-base; </br>
// - $c-input-borderStyle--focus: false;
// - 
// - $input-borderRadius: 4px; </br>
// - $input-backgroundColour: $Colour-white;
//
// .object-classes	- class description
//
// Markup:
// <form>
//	<div class="formfield">
//		<label for="demoinput">Standard label styling</label>
//		<input type="text" placeholder="Demo placeholder..."/>
//	</div>
//	<div class="formfield">
//		<label for="demoTextarea">Standard label styling</label>
//		<textarea placeholder="Demo placeholder..." id="demoTextarea"></textarea>
//	</div>
//	<div class="formfield">
//		<input type="submit">
//	</div>
//	</form>
//
// Styleguide 18.0.0.

/*
 * TODO: Make button and input styling based on same styles so that when used together they work nicely
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// $inputForm-height: $Base-spacing-unit * 3 !default;  // TODO: need to fix to match up to base input styling
$c-inputForm-backgroundColour: $Colour-white !default;
$inputForm-borderColour: $Colour-border !default;
$c-inputForm-borderColour--focus: $Colour-base !default;
$c-inputForm-backgroundColour--focus: false !default;

$inputFormPlaceholder-colour: $Colour-inactive !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

/**
 * input Base extend Notes
 * These styles have been set to give a base style which is consistant across
 * input types
 *
 * TODO: See if a hieght is needed to keep consistancy across all input types
 */

%input-base {
	// @extend %input;

	// height: $input-height;
	border-color: $inputForm-borderColour;
	@include conditional( $c-inputForm-backgroundColour ) { background: $c-inputForm-backgroundColour; };
	
	&:focus {
		@include conditional( $c-inputForm-borderColour--focus ) { border-color: $c-inputForm-borderColour--focus; }
		@include conditional( $c-inputForm-backgroundColour--focus ) { background-color: $c-inputForm-backgroundColour--focus; }
	}
	
}


/**
 * Placeholder extend Notes
 * Sets the placeholder text colour
 */

%input-placeholder {
	::-webkit-input-placeholder {
	   color: $inputFormPlaceholder-colour;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $inputFormPlaceholder-colour;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $inputFormPlaceholder-colour;  
	}

	:-ms-input-placeholder {  
	   color: $inputFormPlaceholder-colour;  
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-element-forms == true {

	/**
	 * Label Notes
	 * Very simple base styles which can be built apon with formfield classes
	 */

	label {
		// @extend %typeLabel;
	}



	/**
	 * input Notes
	 * 
	 */

	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	textarea,
	select {
		// @extend %input-base;
		// @extend %input-placeholder;

		// @include conditional( $input-padding ) { padding: $input-padding };
	}



	/**
	 * input Submit Notes
	 * 
	 */

	input[type="submit"] {
		// @extend %button;
		// @extend %button--primary;
	}



	/**
	 * Select Notes
	 * 
	 */

	select {
		// @extend %input-base;
	}



	/**
	 * Textarea Notes
	 * 
	 */

	textarea {
		// height: $multilineInputForm-multiplier;
		
		// @extend %input--multiline;
	}
}