<template>
  <div class="Page">
    <div id="bg" class="Page-bg">
      <div ref="bgLayer1" class="Page-bgLayer Page-bgLayer--1"></div>
      <div ref="bgLayer2" class="Page-bgLayer Page-bgLayer--2"></div>
    </div>

    <header class="Navbar">
      <div class="Navbar-inner">
        <div class="Navbar-innerLeft flex-center">
          <nuxt-link to="/" class="Navbar-brand"
            >MoonCat&ZeroWidthSpace;Pop</nuxt-link
          >
        </div>

        <nav class="Navbar-nav">
          <nuxt-link to="/" class="Navbar-navItem hide-mob">Shop</nuxt-link>
          <nuxt-link to="/designer" class="Navbar-navItem hide-mob">Designer</nuxt-link>
          <a href="https://mooncat.community/" class="Navbar-navItem hide-mob"
            >Community</a
          >
          <nuxt-link to="/help" class="Navbar-navItem hide-mob">Help</nuxt-link>

          <basket />

          <button
            class="Navbar-navButton"
            v-if="!isConnected"
            @click.stop="connect"
          >
            Connect
          </button>
          <button
            class="Navbar-navButton"
            v-if="isConnected"
            @click.stop="disconnect"
          >
            Disconnect
          </button>

          <div
            :class="[
              'Drop Drop--alt ml show-tabDown',
              { 'is-active': menuState },
            ]"
            v-click-outside="hideMenu"
          >
            <button
              class="Navbar-navItem Navbar-navItem--menu"
              @click.stop="toggleMenu"
            >
              Menu
            </button>

            <div class="Drop-menu">
              <nuxt-link to="/" class="Drop-menuItem">Shop</nuxt-link>
              <nuxt-link to="/designer" class="Drop-menuItem">Designer</nuxt-link>
              <a href="https://mooncat.community/" class="Drop-menuItem"
                >Community</a
              >
              <nuxt-link to="/help" class="Drop-menuItem">Help</nuxt-link>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <Nuxt />

    <div class="Page-copyright">
      ©2021
      <a href="https://twitter.com/ponderware" target="_blank"
        ><img
          alt="ponderware logo"
          class="ponderware-logo"
          src="~/assets/images/ponderware-neon.png"
        />ponderware</a
      >
      &plus;
      <a href="https://twitter.com/BrandNameHere1" target="_blank" class="alt-colour"
        >{Brand_Name_Here}</a
      >
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ClickOutside from 'vue-click-outside'

import Basket from '~/components/elements/basket'

export default {
  directives: {
    ClickOutside,
  },

  components: {
    'basket': Basket
  },

  data() {
    return {
      menuState: false,
    }
  },

  async fetch() {},

  computed: {
    ...mapGetters({
      isOpen: 'identity/isOpen',
      isConnected: 'identity/isConnected',
      cats: 'identity/cats',
    }),
  },

  watch: {
    $route(b) {
      if (this.menuState) this.hideMenu()
      if (this.basketState) this.hideBasket()
    },
  },

  beforeCreate() {
    this.$store.commit('basket/initialiseBasket')
  },

  mounted() {
    window.addEventListener('scroll', this.positionBackgroundImages)
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.positionBackgroundImages)
  },

  methods: {
    positionBackgroundImages() {
      var bodyHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight
      )

      if (bodyHeight > window.innerHeight) {
        this.$refs.bgLayer1.style.top = window.scrollY * -0.1 + 'px'
        this.$refs.bgLayer2.style.top = window.scrollY * -0.2 + 'px'
      } else {
        this.$refs.bgLayer1.style.top = 0
        this.$refs.bgLayer2.style.top = 0
      }
    },

    toggleMenu() {
      this.menuState = !this.menuState
    },

    hideMenu() {
      this.menuState = false
    },

    connect() {
      this.$nuxt.context.$identity.connect()
    },

    disconnect() {
      this.$nuxt.context.$identity.disconnect().then(() => {
        this.$router.push('/')
      })
    },
  },
}
</script>
