<template lang="html">
  <section>
    <div class="Page-section">
      <div class="Grid">
        <div class="Grid-row s-2/3--lap">
          <h1 class="center mb++">Can Designer FAQ</h1>
          <div class="paint">
            <p class="copy-l">
              MoonCatPop is a joint project between ponderware and
              {Brand_Name_Here} which expands the MoonCats universe! 256 NFT
              Vending Machines will each distribute 100 MoonCatPop Can NFTs,
              which will star one purrfectly preened MoonCat. When creating a
              MoonCatPop Vending Machine, a MoonCat's owner will be able to
              select numerous aspects of the MoonCatPop Can, including
              background colours and patterns, a MoonCat's accessories, as well
              as a soda flavour name. In order to prevent a gas war, interested
              MoonCat owners will need to place a deposit on their machines.
              Please select a question below for more information.
            </p>
          </div>
        </div>

        <div class="Grid-row s-2/3--lap">
          <div class="Accordion">
            <accordion-item heading="Q: What is MoonCatPop?">
              <p class="type--text">
                MoonCatPop is a collection of 256 virtual Vending Machine NFTs,
                each with a flavour and imagery designed by a member of the
                MoonCat community, featuring their extra special MoonCat, which
                will each dispense 100 virtual MoonCatPop Can NFTs – you may
                find this nice round number of 25 600 very familiar!
              </p>
              <p class="type--text">
                When you purchase a can of MoonCatPop, you’ll receive an
                adorable animated artwork of the MoonCatPop Can, which stars one
                of our purrfect feline companions. These are all strictly
                digital goods, not physical cans, though through the
                MoonCatLicence, the owner of the MoonCat on each can could
                absolutely make their own physical MoonCatPop.
              </p>
            </accordion-item>

            <accordion-item
              heading="Q: How do I get a MoonCatPop Vending Machine?"
            >
              <p class="type--text">
                To avoid a gas war, we will not be doing first come, first
                served, but instead be working from a whitelist. Beginning
                Saturday, October 30 2021 and ending Sunday, November 14 2021,
                you will be able to purchase a ticket good for one MoonCatPop
                Vending Machine! At that time, you will be designing your very
                own MoonCatPop Can, which includes a can pattern, can colour,
                soda flavour name, and of course, your Acclimated MoonCat with
                the accessories of your choosing. Beginning November 15 2021,
                the whitelist for MoonCatPop Vending Machines will be reviewed
                by the ponderware staff and minting will begin. Vending Machines
                will be minted by ponderware, and delivered to the MoonCat.
              </p>
              <p class="type--text">
                If, on November 15 2021, there are less than 250 entrants,
                everyone who applied will receive a MoonCatPop Vending Machine,
                and the remaining slots will then become first come, first
                served. You will still need to go through the same process of
                designing a MoonCatPop Can, along with a review by ponderware,
                prior to the Vending Machine being delivered to your MoonCat.
              </p>
              <p class="type--text">
                If, on November 15 2021, there are more than 250 entrants, a
                randomized raffle will occur, selecting 250 applicants. This is
                an on-chain randomization, in a similar manner to lootprints, to
                ensure equal fairness that no individual person, including
                members of the ponderware staff, can manipulate. Anyone who is
                not selected to receive a Vending Machine can withdraw their
                deposit.
              </p>
              <p class="type--text">
                Be sure you don't sell your MoonCat in the interim! Vending
                Machines will go to the MoonCat in whatever wallet it is in at
                the time of Vending Machine minting. Vending Machine tickets
                cannot be transferred. Beginning November 15th, Vending Machine
                minting is non-refundable.
              </p>
            </accordion-item>

            <accordion-item heading="Q: What can I name my MoonCatPop flavour?">
              <p class="type--text">
                Your MoonCatPop will be assigned a random flavour name to begin.
                The designer allows you to generate a variety of random flavour
                name combinations. Alternatively, you can supply your own
                flavour name. Flavour names can be anywhere between 1 and 38
                characters, and must adhere to ponderware’s requirements
                regarding quality, intellectual property, and legal
                restrictions, as well as keeping to the MoonCatCommunity
                family-friendly rating. Names which the ponderware team deems
                inappropriate will be sent back to the author for revision.
              </p>
            </accordion-item>

            <accordion-item heading="Q: Oh no!  My MoonCat isn't Acclimated!">
              <p class="type--text">
                Switching to the official wrapper is fast and easy, and can be
                done at the
                <a href="https://mooncat.community/acclimator">Acclimator</a>.
              </p>
            </accordion-item>

            <accordion-item
              heading="Q: How do I get accessories for my MoonCats?"
            >
              <p class="type--text">
                Head over to
                <a href="https://boutique.mooncat.community/"
                  >the MoonCats Boutique</a
                >, your one-stop shop to customizing your MoonCat in a variety
                of ways.
              </p>
            </accordion-item>

            <accordion-item
              heading="Q: How much do MoonCatPop Vending Machines cost?"
            >
              <p class="type--text">
                A ticket is your deposit for a vending machine, and costs 0.9
                ETH; tickets will be randomly selected among all entrants, and
                anyone who is not selected will be able to withdraw their 0.9
                ETH deposit.
              </p>
            </accordion-item>

            <accordion-item
              heading="Q: Can I buy multiple MoonCatPop Vending Machines?"
            >
              <p class="type--text">
                You can purchase one Vending Machine per MoonCat; if you own
                multiple MoonCats within a wallet, you can whitelist one, some,
                or all of your MoonCats, provided you supply the needed deposit
                for each. If you decide to purchase multiple tickets and receive
                tickets for only a portion of your proposed MoonCatPop designs,
                the ponderware team will reach out to finalize which of your
                MoonCats you would like to use.
              </p>
            </accordion-item>

            <accordion-item heading="Q: How much does a MoonCatPop Can cost?">
              <p class="type--text">
                Vending a Pop Can directly from a vending machine will cost 0.05
                ETH – for those of you who have shopped from the Boutique, this
                will be a familiar process. If you own an Acclimated MoonCat,
                the price is reduced by 20% to 0.04 – another fine benefit of
                owning a MoonCat~
              </p>
              <p class="type--text">
                This means if you own a Vending Machine and successfully sell
                your run of Pop Cans, you’ll have the opportunity to make your
                deposit back and more. You'll also be part of the MoonCatPop
                Vending Machine DAO, the first MoonCats DAO!
              </p>
            </accordion-item>

            <accordion-item
              heading="Q: How does the MoonCatPop Vending Machine DAO work?"
            >
              <p class="type--text">
                Secondary sales for Pop Cans on marketplaces like OpenSea will
                have a 4% commission, similar to MoonCats and lootprints (for
                MoonCats) – 1% of this commission will go to {Brand_Name_Here},
                while the remaining will go into a Vending Machine DAO, which
                will be directed by the 256 Vending Machine owners. ponderware
                will own one Vending Machine, as we want the DAO to decide how
                these funds will be distributed without ponderware having a
                majority control.
              </p>
              <p class="type--text">
                As community members have expressed interest in forming a
                broader MoonCats DAO, we find this an excellent trial for how a
                council of 256 members will function within the MoonCats
                ecosystem.
              </p>
            </accordion-item>
          </div>
          <div class="flex-center">
            <video controls autoplay loop width="250" class="vmVideo">
              <source src="/example/vm_0.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AccordionItem from '~/components/elements/accordion-item'

export default {
  components: {
    'accordion-item': AccordionItem,
  },
}
</script>
