<template lang="html">
  <section>
    <!-- Hero -->
    <div class="Hero">
      <div class="Hero-inner">
        <div class="Hero-body">
          <h1 class="Hero-heading">Pop Shop</h1>

          <div class="Hero-lede">
            Grab a selection of refreshments to keep your MoonCat full of fizz
            in the metaverse.
          </div>

          <div class="mt++">
            <span class="pill pill--notice"
              >Mint prices are 0.05ETH or 0.04ETH for wallets containing a
              MoonCat</span
            >
          </div>
        </div>
      </div>
      <!-- Mint Buttons -->
      <mcp-randomizer :machines="machines" />
    </div>
    <!-- .end Hero -->

    <!-- Filter and search bar -->
    <div class="Page-bar">
      <div class="Page-barBody pullRight">
        <!-- Search bar --
        <div class="Navbar-search">
          <div class="Navbar-searchInput">
            <input type="text" placeholder="Search..." class="Form-input" />
          </div>

          <div class="Navbar-searchDrop">
            <ul class="Navbar-searchResults">
              <li>
                <a href="/a/0" class="Navbar-searchResult"
                  >#0 Ponderware Visor</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- .end Search bar -->

        <div class="Page-barActions">
          <mcp-dropdown
            category="sortBy"
            label="Sort By"
            :options="filters.sortBy.options"
            :defaultSelected="filters.sortBy.selected"
            @dropdown-updated="updateFilter"
          />
        </div>
      </div>
    </div>
    <!-- .end Filter and search bar -->

    <!-- Cans -->
    <div class="Page-section">
      <div class="Grid">
        <div
          v-for="machine in orderedMachines"
          :key="machine.mint"
          class="Grid-column s-1/3--tab s-1/4--lap"
        >
          <a
            :href="`/vm/${machine.mint}`"
            :class="['Card Card--can', { 'is-inactive': machine.supply === 0 }]"
          >
            <div class="Card-body">
              <div class="rel">
                <img
                  :src="`/pop/${machine.mint}/front_${machine.mint}.jpg`"
                  :alt="`Pop #${machine.mint}`"
                  class="Card-image"
                />
                <a
                  v-if="machine.supply === 0"
                  :href="openseaLink + machine.mint"
                  target="_blank"
                  class="Card-labelAction Card-imageLayer is-bottomLeft"
                  >View on Opensea ></a
                >
              </div>

              <div class="Card-title">{{ machine.flavor }}</div>

              <div class="justify-ends mt">
                <div class="">
                  <div class="">{{ machine.name || 'SpokesCat' }}</div>
                  <div class="copy-xs mt-">
                    MoonCat #{{ machine.rescueOrder }}
                  </div>
                </div>

                <div class="">
                  <div class="">Supply Level</div>
                  <div class="flex-center mt-">
                    <div class="copy-xs">{{ supplyLabel(machine.supply) }}</div>

                    <div
                      :class="[
                        'Level ml',
                        {
                          'Level--3': supplyLevel(machine.supply) === 3,
                          'Level--2': supplyLevel(machine.supply) === 2,
                          'Level--1': supplyLevel(machine.supply) === 1,
                          'Level--0': supplyLevel(machine.supply) === 0,
                        },
                      ]"
                    >
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- .end Cans -->
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import supplyMixin from '~/mixins/supply'

import { machinesCollection } from '~/services/firebase'
import { query, where, getDocs } from 'firebase/firestore'

import Dropdown from '~/components/elements/dropdown'
import Randomizer from '~/components/elements/randomizer'

export default {
  mixins: [supplyMixin],

  components: {
    'mcp-dropdown': Dropdown,
    'mcp-randomizer': Randomizer,
  },

  data() {
    return {
      openseaLink:
        'https://opensea.io/assets/mooncatpop?search[stringTraits][0][name]=Machine%20Id&search[stringTraits][0][values][0]=',
      machines: [],
      filters: {
        sortBy: {
          selected: 0,

          options: [
            {
              label: 'Machine Number',
              filter: 'minted',
            },
            {
              label: 'Newest Machines',
              filter: 'latest',
            },
            {
              label: 'Flavor Alphabetically',
              filter: 'flavor',
            },
            {
              label: 'SpokesCat Order',
              filter: 'rescueOrder',
            },
          ],
        },
      },
    }
  },

  head() {
    return {
      title: 'MoonCatPop Shop',
      meta: [
        { hid: 'og:type', name: 'og:type', content: 'website' },
        {
          hid: 'og:title',
          property: 'og:title',
          content: `MoonCatPop Shop`,
        },
      ],
    }
  },

  computed: {
    ...mapGetters({
      isConnected: 'identity/isConnected',
      address: 'identity/fullAddress',
    }),
    orderedMachines() {
      return this.machines.sort((a, b) => {
        let supplyA = a.supply === 0 ? -25600 : 1
        let supplyB = b.supply === 0 ? -25600 : 1

        switch (this.filters.sortBy.selected) {
          case 3:
            return a.rescueOrder - b.rescueOrder
          case 2:
            return supplyB - supplyA ||
              a.flavor.toLowerCase() > b.flavor.toLowerCase()
              ? 1
              : -1
          case 1:
            return supplyB - supplyA || b.mint - a.mint
          default:
            return supplyB - supplyA || a.mint - b.mint
        }
      })
    },
  },

  created() {
    this.loadMachines()
  },

  methods: {
    async loadMachines() {
      this.machines = []

      const q = query(machinesCollection, where('active', '==', true))
      const querySnapshot = await getDocs(q)

      for (let i in querySnapshot.docs) {
        let doc = querySnapshot.docs[i]
        let data = { ...doc.data() }
        this.machines.push(data)
      }
    },
    updateFilter(f, index) {
      this.filters[f].selected = index
    },
  },
}
</script>
