// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------

@function convert-to-rem($size, $base: $FontSize-c2) {
  @return ($size / $base) * 1rem;
}

@function convert-to-em($size, $base: 16px) {
  @return ($size / $base) * 1em;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function halve($number) {
  @return $number / 2;
}

@function double($number) {
  @return $number * 2;
}

@function triple($number) {
  @return $number * 3;
}
