// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin font-size($font-size: $FontSize-base) {
	font-size: $font-size + 0px;
	font-size: convert-to-rem($font-size);
}


@mixin type($font-size: $Font-size-b, $line-height: false, $font-weight: false) {
	@include font-size($font-size);

	@if ($line-height != false) {
		line-height: $line-height;
	}

	@if ($font-weight != false) {
		font-weight: $font-weight;
	}
}


@mixin conditional($variable, $state: true) {
	@if $state == false {
		@if $variable == false {
			@content;
		}
	} @else {
		@if $variable != false {
			@content;
		}
	}
}
