<template lang="html">
  <section>
    <!-- Hero -->
    <div class="Hero">
      <div class="Hero-inner">
        <div class="Hero-back">
          <nuxt-link
            to="/"
            class="button button--ghost button--s icon icon-rewind"
            >Shop</nuxt-link
          >
        </div>

        <div class="Hero-body">
          <h1 class="Hero-heading">{{ machine.flavor }}</h1>
        </div>
      </div>
    </div>
    <!-- .end Hero -->

    <!-- Cans -->
    <div class="Page-section">
      <div class="Grid s-5/6--lap s-2/3--desk">
        <div class="Grid-column s-1/2--tab">
          <div class="Page-carousel">
            <div class="Page-carouselOpts">
              <div
                :class="['Page-carouselOpt', { 'is-active': carousel === 1 }]"
              >
                <img
                  :src="`/pop/${machine.mint}/vm_${machine.mint}.jpg`"
                  alt=""
                  class="image"
                  @click.stop="updateCarousel(1)"
                />
              </div>
              <div class="Page-carouselDivider" title="Mints this"></div>
              <div
                :class="['Page-carouselOpt', { 'is-active': carousel === 2 }]"
              >
                <img
                  :src="`/pop/${machine.mint}/front_${machine.mint}.jpg`"
                  alt=""
                  class="image"
                  @click.stop="updateCarousel(2)"
                />
              </div>
              <div
                :class="['Page-carouselOpt', { 'is-active': carousel === 3 }]"
              >
                <img
                  :src="`/pop/${machine.mint}/label_${machine.mint}.jpg`"
                  alt=""
                  class="image"
                  @click.stop="updateCarousel(3)"
                />
              </div>
            </div>
            <div class="s-1/1">
              <div class="Page-carouselMain Card-imageSplash">
                <video
                  controls
                  autoplay
                  loop
                  width="505"
                  :poster="`/pop/${machine.mint}/vm_${machine.mint}.jpg`"
                  :class="['image', { 'is-active': carousel === 1 }]"
                >
                  <source :src="machine.video" type="video/mp4" />
                </video>
                <video
                  controls
                  autoplay
                  loop
                  width="505"
                  :poster="`/pop/${machine.mint}/front_${machine.mint}.jpg`"
                  :class="['image', { 'is-active': carousel === 2 }]"
                >
                  <source :src="machine.videoCan" type="video/mp4" />
                </video>
                <img
                  :src="`/pop/${machine.mint}/label_${machine.mint}.jpg`"
                  alt=""
                  :class="['image', { 'is-active': carousel === 3 }]"
                />
              </div>
              <div v-if="isOwner && false" class="Page-carouselDownload">
                <a
                  href="#"
                  type="button"
                  class="button button--xs mt+ icon icon-download"
                  @click.stop="editDescription"
                >
                  Download {{ carousel === 1 ? 'Video' : 'Image' }}
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Can data aside -->
        <div class="Grid-column s-1/2--tab">
          <div class="Card Card--can">
            <div class="Card-body">
              <div class="Card-heading">{{ machine.flavor }}</div>

              <div class="copy-xs mt">Vending Machine {{ id }}/255</div>

              <div class="justify-ends mt-">
                <div class="flex-center">
                  <div v-if="!soldOut" class="copy-xs">
                    Supply {{ supplyLabel(machine.supply) }}
                  </div>
                  <div v-if="soldOut" class="copy-xs">Sold Out</div>

                  <div
                    :class="[
                      'Level ml',
                      {
                        'Level--3': supplyLevel(machine.supply) === 3,
                        'Level--2': supplyLevel(machine.supply) === 2,
                        'Level--1': supplyLevel(machine.supply) === 1,
                        'Level--0': supplyLevel(machine.supply) === 0,
                      },
                    ]"
                  >
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>

                <div  v-if="!soldOut" class="copy-xs">{{ machine.supply }} cans remaining</div>
              </div>

              <div class="Card-divider Card-divider--xl"></div>

              <div v-if="isLibLoaded">
                <div class="">{{ machine.name || 'SpokesCat' }}</div>

                <div class="Card-dataItem Card-dataItem--l mt-">
                  <div>CatId</div>
                  <div class="Card-dataItemLine"></div>
                  <div class="">{{ getCatId(machine.rescueOrder) }}</div>
                </div>
              </div>

              <div class="Card-divider"></div>

              <div v-if="isLibLoaded && traits !== null">
                <div class="Card-dataItem">
                  <div>Rescue Index</div>
                  <div class="Card-dataItemLine"></div>
                  <div class="">{{ machine.rescueOrder }}</div>
                </div>

                <div class="Card-dataItem">
                  <div>Rescue Year</div>
                  <div class="Card-dataItemLine"></div>
                  <div class="">{{ traits.rescueYear }}</div>
                </div>

                <div class="Card-dataItem">
                  <div>Coat</div>
                  <div class="Card-dataItemLine"></div>
                  <div class="">{{ displayCoat() }}</div>
                </div>
              </div>

              <div class="Card-divider"></div>

              <div v-if="isLibLoaded && traits !== null" class="Card-grid">
                <!-- Column -->
                <div class="Card-col">
                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Expression</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(traits.expression) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Pattern</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(traits.pattern) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Facing</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(traits.facing) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Pose</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(traits.pose) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Hue</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ displayHue(traits.hue) }}</div>
                  </div>
                </div>
                <!-- .end Column -->

                <!-- Column -->
                <div class="Card-col">
                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Has Mirrors</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(String(traits.hasMirrors)) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Has Clones</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(String(traits.hasClones)) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Has Twins</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ ucFirst(String(traits.hasTwins)) }}</div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Siblings</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">
                      {{ traits.litterSize > 0 ? traits.litterSize - 1 : 0 }}
                    </div>
                  </div>

                  <div class="Card-dataItem Card-dataItem--s">
                    <div>Is Pale</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">
                      {{ ucFirst(String(traits.pattern === 'pure')) }}
                    </div>
                  </div>
                </div>
                <!-- .end Column -->
              </div>
            </div>
          </div>

          <div v-if="soldOut" class="Card Card--can mt++">
            <div class="Card-body">
              <div class="center">
                <h3>All 100 cans are sold out</h3>
                <div class="copy-xs mt++">
                  This flavor was a MoonCat favourite and has now sold out! You
                  may still be able to collect some on the secondary market
                  though...
                </div>
              </div>
              <div class="mt-3 center">
                <a
                  :href="openseaLink + machine.mint"
                  target="_blank"
                  class="button button--pri"
                  >View on OpenSea</a
                >
              </div>
            </div>
          </div>

          <div v-if="!isConnected && !soldOut" class="Card Card--can mt++">
            <div class="Card-body">
              <div class="center">
                <div class="copy-xs">
                  To purchase from the shop please connect your wallet.
                </div>
              </div>
              <div class="mt-3 center">
                <button type="button" class="button--pri" @click.stop="connect">
                  Connect
                </button>
              </div>
            </div>
          </div>

          <div
            v-if="isConnected && !loading && !open && startBlock === 0"
            class="Card Card--can mt++"
          >
            <div class="Card-body">
              <div class="center">
                <div class="copy-xs">Minting is currently not available.</div>
              </div>
            </div>
          </div>

          <can-countdown
            v-if="isConnected && !loading && !open && startBlock !== 0"
            :blockNumber="startBlock"
            @tada="countdownTada"
          />

          <div
            v-if="isConnected && !loading && open && !soldOut"
            class="Card Card--can mt++"
          >
            <div class="Card-body">
              <div class="flex-center">
                <img
                  :src="`/pop/${machine.mint}/front_${machine.mint}.jpg`"
                  class="image imageSelected mw-4"
                />

                <div class="ml-3 s-1/1">
                  <div class="justify-ends">
                    <div class="copy-xs">Cans to buy:</div>

                    <div class="flex">
                      <div class="Iterate Iterate--counter">
                        <button
                          type="button"
                          class="Iterate-button"
                          @click.stop="increment('down')"
                        >
                          -
                        </button>
                        <div class="Iterate-count">{{ mintCount }}</div>
                        <button
                          type="button"
                          class="Iterate-button"
                          @click.stop="increment('up')"
                        >
                          +
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="Card-dataItem mt-2">
                    <div>Price</div>
                    <div class="Card-dataItemLine"></div>
                    <div class="">{{ displayPrice }} ETH</div>
                  </div>
                </div>
              </div>

              <div class="mt-3 center">
                <button type="button" class="button--pri" @click.stop="mint">
                  Buy Now
                </button>
                <button
                  type="button"
                  :class="{ 'is-disabled': basketWouldBeFull }"
                  @click.stop="addToBasket"
                >
                  Add to Basket
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- .end Can data aside -->

        <div
          v-if="(machine.description && machine.description.length) || isOwner"
          class="Grid-column"
        >
          <div class="paintDark">
            <div class="flex-center mb+">
              <h4>Description</h4>

              <a
                href="#"
                v-if="isOwner"
                v-show="!descEditable"
                @click.prevent="editDescription"
                class="typeLink-icon icon-write typeLink-m ml-3"
                >EDIT</a
              >
            </div>

            <p
              v-show="!descEditable"
              class="copy-l copy-description"
              v-html="formattedDescription"
            ></p>

            <form
              class="Form"
              v-show="descEditable"
              @submit.prevent="updateDescription"
            >
              <div class="Form-field">
                <textarea
                  name="name"
                  class="Form-inputMulti"
                  v-model="editableDescription"
                ></textarea>

                <div class="flex-center mt+">
                  <button type="submit" class="Form-submit">Update</button>
                  <button
                    type="button"
                    class="button--ghost ml"
                    @click.prevent="editDescription"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="Grid-row Grid-row--divider paintDark">
          <p class="copy-s">
            Please note: For more information, including licensing information,
            please read the
            <nuxt-link to="/help" class="typeLink-alt">FAQ</nuxt-link>.
          </p>
        </div>
      </div>
      <!-- .end Cans -->
    </div>

    <mcp-transaction
      :active="transaction.processing"
      :error="transaction.error"
      :success="transaction.success"
      @completed="completeTransaction"
      @reset="resetTransaction"
    />
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import Autolinker from 'autolinker'
import supplyMixin from '~/mixins/supply'
import transactionMixin from '~/mixins/transaction'
import libmooncatMixin from '~/mixins/libmooncat'

import { machinesCollection, functions, callable } from '~/services/firebase'
import { doc, getDoc } from 'firebase/firestore'
import { getStorage, ref, getDownloadURL } from 'firebase/storage'

import CanCountdown from '~/components/card/countdown'
import Transaction from '~/components/elements/transaction'

import mcbDeepSpace from '~/lib/deepspace'

const dsn = new mcbDeepSpace()
const storage = getStorage()

const fbUpdateSupply = callable(functions, 'updateSupply')
const fbUpdateDescription = callable(functions, 'updateDescription')

export default {
  mixins: [supplyMixin, transactionMixin, libmooncatMixin],

  components: {
    'can-countdown': CanCountdown,
    'mcp-transaction': Transaction,
  },

  data() {
    return {
      loading: true,
      open: false,
      startBlock: null,
      traits: null,
      mintCount: 1,
      carousel: 1,
      descEditable: false,
      owner: null,
      editableDescription: '',
      openseaLink:
        'https://opensea.io/assets/mooncatpop?search[stringTraits][0][name]=Machine%20Id&search[stringTraits][0][values][0]=',
    }
  },

  async asyncData({ params, redirect }) {
    if (
      typeof params.id === 'undefined' ||
      !Number.isInteger(Number(params.id))
    )
      return redirect('/')

    let id = Number(params.id)

    const docRef = doc(machinesCollection, String(id))
    const docSnap = await getDoc(docRef)

    if (!docSnap.exists()) return redirect('/')

    let machine = docSnap.data()

    if (typeof machine.active === 'undefined' || machine.active !== true)
      return redirect('/')

    // const pathReference = ref(storage, `vm/vm_${id}.mp4`)
    // machine.video = await getDownloadURL(pathReference)

    // const pathCanReference = ref(storage, `can/${id}.mp4`)
    // machine.videoCan = await getDownloadURL(pathCanReference)

    // machine.video = `https://gateway.pinata.cloud/ipfs/Qmd33apDKccVN23gvsqLwSZfxp7aFUCLz86A9m5vP7Ei7r/vm_${id}.mp4`
    machine.video = `https://pop-assets.mooncat.community/vm/vm_${id}.mp4`
    machine.videoCan = `https://pop-assets.mooncat.community/can/${id}.mp4`

    return {
      id,
      machine,
      editableDescription: machine.description,
    }
  },

  head() {
    return {
      title: `MoonCatPop Vending Machine #${this.id}`,
      description: `Vending Machine that dispenses ${this.flavor} MoonCatPop`,
      meta: [
        { hid: 'og:type', name: 'og:type', content: 'website' },
        {
          hid: 'og:title',
          property: 'og:title',
          content: `MoonCatPop Vending Machine #${this.id}`,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `Vending Machine that dispenses ${this.flavor} MoonCatPop`,
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://pop.mooncat.community/pop/${this.id}/vm_${this.id}.jpg`,
        },
        {
          hid: 'og:image:secure_url',
          property: 'og:image:secure_url',
          content: `https://pop.mooncat.community/pop/${this.id}/vm_${this.id}.jpg`,
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: `Vending Machine #${this.id}`,
        },
        { hid: 'twitter:card', name: 'twitter:card', content: 'summary' },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@mooncatrescue',
        },
      ],
      link: [
        {
          rel: 'canonical',
          href: `https://pop.mooncat.community/vm/${this.id}`,
        },
      ],
    }
  },

  computed: {
    ...mapGetters({
      isConnected: 'identity/isConnected',
      address: 'identity/fullAddress',
      cats: 'identity/cats',
      getItems: 'basket/getItems',
    }),
    ownsCats() {
      return this.cats.length > 0
    },
    price() {
      return this.ownsCats ? 40000000000000000 : 50000000000000000
    },
    displayPrice() {
      return (this.price * this.mintCount) / 1000000000000000000
    },
    soldOut() {
      return this.machine.supply === 0
    },
    isOwner() {
      return (
        this.isConnected &&
        this.owner !== null &&
        this.address !== null &&
        this.owner.toLowerCase() === this.address.toLowerCase()
      )
    },
    totalBasketItems() {
      let count = 0
      for (let i = 0; i < this.getItems.length; i++) {
        count += this.getItems[i].total
      }
      return count
    },
    basketWouldBeFull() {
      return this.totalBasketItems + this.mintCount > 24
    },
    formattedDescription() {
      return Autolinker.link(this.machine.description)
    },
  },

  watch: {
    isLibLoaded: {
      immediate: true,
      handler() {
        this.traits = this.getCatTraits(this.machine.rescueOrder, 'extended')
      },
    },
  },

  created() {
    this.checkMintingIsOpen()

    dsn.getRemainingSupply(this.id).then((supply) => {
      if (supply !== false) {
        this.machine.supply = supply
        fbUpdateSupply({
          id: this.id,
          supply: supply,
        })
      }
    })

    dsn.getVMOwner(this.id).then((address) => {
      if (address !== false) this.owner = address
    })
  },

  methods: {
    checkMintingIsOpen() {
      dsn.isMintingOpen(this.id).then((open) => {
        this.open = open

        if (!open)
          dsn.getMintStart(this.id).then((startBlock) => {
            this.startBlock = startBlock
            this.loading = false
          })
        else this.loading = false
      })
    },
    editDescription() {
      this.descEditable = !this.descEditable
    },
    updateDescription() {
      this.machine.description = this.editableDescription
      this.descEditable = false

      fbUpdateDescription({
        id: this.id,
        description: this.machine.description,
      })
    },
    ucFirst(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    displayHue(string) {
      return string === 'skyBlue' ? 'Sky Blue' : this.ucFirst(string)
    },
    displayCoat() {
      if (this.traits === null) return
      let coat = []
      if (this.traits.isPale) coat.push('Pale')
      coat.push(this.displayHue(this.traits.hue))
      coat.push(this.ucFirst(this.traits.pattern))
      return coat.join(' ')
    },
    increment(direction) {
      let total = this.mintCount
      if (direction === 'up') total++
      else total--
      if (total === 0) total = 1
      if (total > 24) total = 24
      this.mintCount = total
    },
    updateCarousel(id) {
      this.carousel = id
    },
    countdownTada() {
      this.open = true
    },
    addToBasket() {
      if (!this.basketWouldBeFull)
        this.$store
          .dispatch('basket/addItem', {
            id: this.id,
            flavor: this.machine.flavor,
            total: this.mintCount,
          })
          .then(() => {
            this.mintCount = 1
            window.scrollTo(0, 0)
          })
    },
    mint() {
      this.transaction.processing = true

      if (this.mintCount === 1)
        dsn
          .mintCan(
            this.$root.context.$identity.connection.getSigner(),
            this.id,
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
      else {
        let vmArray = []
        for (let i = 0; i < this.mintCount; i++) vmArray.push(this.id)
        dsn
          .batchMintCans(
            this.$root.context.$identity.connection.getSigner(),
            vmArray,
            this.ownsCats
          )
          .then((result) => this.processingTransaction(result))
      }
    },
    connect() {
      this.$nuxt.context.$identity.connect()
    },
  },
}
</script>
